<!DOCTYPE html>
<html lang="<%= __('lang') %>">
<head>
    <title><%= __('title_png') %></title>
    <meta name="description" content="<%= __('description_png') %>">
    <meta itemprop="image" content="">
    <meta name="robots" content="index, follow"/>
    <meta name="twitter:card" content="<%= __('twitter_card_sumary') %>">
    <meta name="twitter:title" content="<%= __('twitter_title_png') %>">
    <meta name="twitter:description" content="<%= __('twitter_description_png') %>">
    <meta name="twitter:image:src" content="https://compressimage.me/images/favicon.png">
    <meta name="twitter:site" content="compressimage.me">
    <meta property="og:title" content="<%= __('og_title_png') %>">
    <meta property="og:type" content="article">
    <meta property="og:image" content="https://compressimage.me/images/favicon.png">
    <meta property="og:description" content="<%= __('og_description_png') %>">
    <meta property="og:site_name" content="compressimage.me">
    <link rel="apple-touch-icon" sizes="192x192" href="https://compressimage.me/images/favicon.png">
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
    <meta name="google" content="notranslate"/>
    <link rel="alternate" hreflang="x-default" href="https://compressimage.me/png"/>
    <link rel="alternate" hreflang="en" href="https://compressimage.me/en/png"/>
    <link rel="alternate" hreflang="vi" href="https://compressimage.me/vi/png"/>
    <link rel="alternate" hreflang="id" href="https://compressimage.me/id/png"/>
    <link rel="alternate" hreflang="ms" href="https://compressimage.me/ms/png"/>
    <link rel="alternate" hreflang="ja" href="https://compressimage.me/ja/png"/>
    <link rel="alternate" hreflang="ko" href="https://compressimage.me/ko/png"/>
    <link rel="alternate" hreflang="pt" href="https://compressimage.me/pt/png"/>
    <link rel="alternate" hreflang="hi" href="https://compressimage.me/hi/png"/>
    <link rel="alternate" hreflang="es" href="https://compressimage.me/es/png"/>
    <link rel="alternate" hreflang="fr" href="https://compressimage.me/fr/png"/>
    <link rel="alternate" hreflang="ro" href="https://compressimage.me/ro/png"/>
    <link rel="sitemap" href="https://compressimage.me/sitemap.xml"/>
    <link rel="canonical" href="<%= __('domain_canonical_png') %>"/>

    <meta name="google-site-verification" content="45tzeD5vb8UThHDKRNQnXDAd-wVFqmAzupDCsS_TFvQ"/>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5430905845990574"
            crossorigin="anonymous"></script>
    <meta name="google-adsense-account" content="ca-pub-5430905845990574">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css" media="print" onload="this.media = 'all'">
        :root{--header-height:3.5rem;--black-color:#171c26;--black-color-light:#1d232f;--black-color-lighten:#252b37;--white-color:#fff;--body-color:#f0f5ff;--body-font:"Montserrat",sans-serif;--normal-font-size:.938rem;--font-regular:400;--font-semi-bold:600;--z-tooltip:10;--z-fixed:100 }@media screen and (min-width:1024px){:root{--normal-font-size:1rem }}*{box-sizing:border-box;padding:0;margin:0}body{font-family:var(--body-font);font-size:var(--normal-font-size);background-color:var(--body-color)}ul{list-style:none;padding-left:0}a{text-decoration:none}.container-header-nav{max-width:1120px;margin-inline:1.5rem}.header{top:0;left:0;width:100%;background-color:var(--black-color);box-shadow:0 2px 16px rgba(14,18,27,.3);z-index:var(--z-fixed)}.nav-header{height:var(--header-height)}.nav__burger,.nav__close,.nav__logo{color:var(--white-color)}.nav__data{height:100%;display:flex;justify-content:space-between;align-items:center}.nav__logo{display:inline-flex;align-items:center;column-gap:.25rem;font-weight:var(--font-semi-bold)}.nav__logo i{font-weight:400;font-size:1.25rem}.nav__toggle{position:relative;width:32px;height:32px}.nav__burger,.nav__close{position:absolute;width:max-content;height:max-content;inset:0;margin:auto;font-size:1.25rem;cursor:pointer;transition:opacity .1s,transform .4s}.nav__close{opacity:0}@media screen and (max-width:1118px){.nav__menu{position:absolute;left:0;top:2.5rem;width:100%;height:calc(100vh - 3.5rem);overflow:auto;pointer-events:none;opacity:0;transition:top .4s,opacity .3s}.nav__menu::-webkit-scrollbar{width:0}.nav__list{background-color:var(--black-color);padding-top:1rem}}.nav__link{color:var(--white-color);background-color:var(--black-color);font-weight:var(--font-semi-bold);padding:1.25rem 1.5rem;display:flex;justify-content:space-between;align-items:center;transition:background-color .3s}.nav__link:hover{background-color:var(--black-color-light)}.show-menu{opacity:1;top:3.5rem;pointer-events:auto}.show-icon .nav__burger{opacity:0;transform:rotate(90deg)}.show-icon .nav__close{opacity:1;transform:rotate(90deg)}.dropdown__item{cursor:pointer}.dropdown__arrow{font-size:1.25rem;font-weight:400;transition:transform .4s}.dropdown__link{padding:1.25rem 1.25rem 1.25rem 2.5rem;color:var(--white-color);background-color:var(--black-color-light);display:flex;align-items:center;column-gap:.5rem;font-weight:var(--font-semi-bold);transition:background-color .3s;flex:1}.dropdown__link i{font-size:1.25rem;font-weight:400}.dropdown__link:hover{background-color:var(--black-color)}.dropdown__menu{max-height:0;overflow:hidden;transition:max-height .4s ease-out}.dropdown__item:hover .dropdown__menu{max-height:1000px;transition:max-height .4s ease-in}.dropdown__item:hover .dropdown__arrow{transform:rotate(180deg)}@media screen and (max-width:340px){.container-header-nav{margin-inline:1rem}.nav__link{padding-inline:1rem}}@media screen and (min-width:1118px){.container-header-nav{margin-inline:auto}.nav-header{height:calc(var(--header-height) + 2rem);display:flex;justify-content:space-between}.nav__toggle{display:none}.nav__list{height:100%;display:flex;column-gap:3rem}.nav__link{height:100%;padding:0;justify-content:normal;column-gap:.25rem}.nav__link:hover{background-color:transparent}.dropdown__item{position:relative}.dropdown__menu{max-height:none;overflow:initial;position:absolute;left:-300px;top:6rem;opacity:0;pointer-events:none;transition:opacity .3s,top .3s}.dropdown__link{padding-inline:1rem 3.5rem}.dropdown__item:hover .dropdown__menu{opacity:1;top:5.5rem;pointer-events:auto;transition:top .3s}}#upload{height:200px;width:70%;flex-direction:column;gap:20px;cursor:pointer;border:2px dashed #e8e8e8;background-color:#fff;padding:1.5rem;border-radius:10px;box-shadow:0 48px 35px -48px #e8e8e8;margin-top:20px;margin-bottom:20px}#upload,#upload .icon{display:flex;align-items:center;justify-content:center}#upload .icon svg{height:80px;fill:#4b5563}#upload .text{display:flex;align-items:center;justify-content:center}#upload .text span{font-weight:400;color:#4b5563}#upload input{display:none}body{margin:0}.customP{text-overflow:ellipsis;overflow:hidden;width:235px;white-space:nowrap;margin-bottom:0;font-size:14px}.a-download{font-size:15px}.custom-details{display:flex;justify-content:space-evenly;align-items:center}@media screen and (max-width:540px){.custom-details{display:block}}@media screen and (max-width:600px){.a-download,.customP{font-size:13px}}#result-container-1{width:60%;min-height:80px;display:none;flex-direction:column;gap:20px;cursor:pointer;justify-content:center;border:2px dashed #e8e8e8;background-color:#fff;padding:1.5rem;border-radius:10px;box-shadow:0 48px 35px -48px #e8e8e8;margin-top:20px}#result-container{display:flex;flex-direction:column;gap:20px}.container-content{margin:0 auto;max-width:1200px;padding:1em;line-height:1.75}.fs-5{font-size:20px}.line-height{line-height:25px}.mt-4{margin-top:20px}.mt-10{margin-top:10px}.mb-10{margin-bottom:10px}.text-justify{text-align:justify}footer{background-color:#333;color:#fff;padding:15px 0;text-align:center;width:100%;bottom:0}.footer-content{max-width:1200px;margin:0 auto}.footer-content p{margin:5px 0}.footer-content a{color:#fff;text-decoration:none}.loader{position:relative;width:2.5em;height:2.5em;transform:rotate(165deg)}.loader:after,.loader:before{content:"";position:absolute;top:50%;left:50%;display:block;width:.5em;height:.5em;border-radius:.25em;transform:translate(-50%,-50%)}.loader:before{animation:before8 2s infinite}.loader:after{animation:after6 2s infinite}@keyframes before8{0%{width:.5em;box-shadow:1em -.5em rgba(225,20,98,.75),-1em .5em rgba(111,202,220,.75)}35%{width:2.5em;box-shadow:0 -.5em rgba(225,20,98,.75),0 .5em rgba(111,202,220,.75)}70%{width:.5em;box-shadow:-1em -.5em rgba(225,20,98,.75),1em .5em rgba(111,202,220,.75)}to{box-shadow:1em -.5em rgba(225,20,98,.75),-1em .5em rgba(111,202,220,.75)}}@keyframes after6{0%{height:.5em;box-shadow:.5em 1em rgba(61,184,143,.75),-.5em -1em rgba(233,169,32,.75)}35%{height:2.5em;box-shadow:.5em 0 rgba(61,184,143,.75),-.5em 0 rgba(233,169,32,.75)}70%{height:.5em;box-shadow:.5em -1em rgba(61,184,143,.75),-.5em 1em rgba(233,169,32,.75)}to{box-shadow:.5em 1em rgba(61,184,143,.75),-.5em -1em rgba(233,169,32,.75)}}.loader{position:absolute;left:calc(50% - 1.25em)}.accordion{background-color:#eee;color:#444;cursor:pointer;width:100%;border:none;text-align:left;outline:0;font-size:15px;transition:background-color .4s;margin-top:20px;border-radius:10px;position:relative;padding:18px 55px 18px 18px}.accordion:hover,.active{background-color:#ccc}.panel{padding:0 18px;max-height:0;overflow:hidden;transition:max-height .2s ease-out}.panel p{margin-block-start:1.3em;text-align:justify}.accordion i{position:absolute;top:50%;right:18px;transform:translateY(-50%);transition:transform .4s}.accordion.active i{transform:translateY(-50%) rotate(-180deg)}.center-box-faq,.mlr{width:100%;margin:0 auto}.content{padding:0}.close{float:right;font-size:21px;font-weight:700;line-height:1;color:#000;text-shadow:0 1px 0 #fff;opacity:.2}button.close{padding:0;cursor:pointer;background:0 0;border:0;-webkit-appearance:none}.alert{padding:15px;border:1px solid transparent;border-radius:4px}.alert>.start-icon{min-width:20px;text-align:center;margin-right:5px}.alert-simple.alert-danger{background-color:rgba(220,17,1,.16);box-shadow:0 0 2px #ff0303;color:#ff0303;transition:.5s;cursor:pointer}.alert-danger:hover{background-color:rgba(220,17,1,.33);transition:.5s}.danger{font-size:18px;color:#ff0303;text-shadow:none}.alert:before{content:"";position:absolute;width:0;height:calc(100% - 44px);border-left:1px solid;border-right:2px solid;border-bottom-right-radius:3px;border-top-right-radius:3px;left:0;top:50%;transform:translateY(-50%);height:20px}.fa-times{-webkit-animation:blink-1 2s infinite both;animation:blink-1 2s infinite both}.error-container{display:flex;justify-content:center}.alert{--bs-alert-margin-bottom:0rem }@-webkit-keyframes blink-1{0%,50%,to{opacity:1}25%,75%{opacity:0}}@keyframes blink-1{0%,50%,to{opacity:1}25%,75%{opacity:0}}.fa,.far,.fas{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:inline-block;font-style:normal;font-variant:normal;text-rendering:auto;line-height:1}.fa-sm{font-size:.875em}.fa-ul{list-style-type:none;margin-left:2.5em;padding-left:0}.fa-ul>li{position:relative}.fa-li{left:-2em;position:absolute;text-align:center;width:2em;line-height:inherit}.fa-pulse{-webkit-animation:fa-spin 1s steps(8) infinite;animation:fa-spin 1s steps(8) infinite}@-webkit-keyframes fa-spin{0%{-webkit-transform:rotate(0);transform:rotate(0)}to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}}@keyframes fa-spin{0%{-webkit-transform:rotate(0);transform:rotate(0)}to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}}.fa-500px:before{content:"\f26e"}.fa-adjust:before{content:"\f042"}.fa-align-center:before{content:"\f037"}.fa-align-justify:before{content:"\f039"}.fa-align-left:before{content:"\f036"}.fa-align-right:before{content:"\f038"}.fa-android:before{content:"\f17b"}.fa-arrow-circle-down:before{content:"\f0ab"}.fa-arrow-circle-left:before{content:"\f0a8"}.fa-arrow-circle-right:before{content:"\f0a9"}.fa-arrow-circle-up:before{content:"\f0aa"}.fa-arrow-down:before{content:"\f063"}.fa-arrow-left:before{content:"\f060"}.fa-arrow-right:before{content:"\f061"}.fa-arrow-up:before{content:"\f062"}.fa-at:before{content:"\f1fa"}.fa-chevron-circle-down:before{content:"\f13a"}.fa-chevron-circle-left:before{content:"\f137"}.fa-chevron-circle-right:before{content:"\f138"}.fa-chevron-circle-up:before{content:"\f139"}.fa-chevron-down:before{content:"\f078"}.fa-chevron-left:before{content:"\f053"}.fa-chevron-right:before{content:"\f054"}.fa-chevron-up:before{content:"\f077"}.fa-circle:before{content:"\f111"}.fa-compress:before{content:"\f066"}.fa-copy:before{content:"\f0c5"}.fa-d-and-d:before{content:"\f38d"}.fa-download:before{content:"\f019"}.fa-file:before{content:"\f15b"}.fa-file-download:before{content:"\f56d"}.fa-file-image:before{content:"\f1c5"}.fa-file-upload:before{content:"\f574"}.fa-fill:before{content:"\f575"}.fa-font:before{content:"\f031"}.fa-google:before{content:"\f1a0"}.fa-html5:before{content:"\f13b"}.fa-image:before{content:"\f03e"}.fa-images:before{content:"\f302"}.fa-language:before{content:"\f1ab"}.fa-line:before{content:"\f3c0"}.fa-link:before{content:"\f0c1"}.fa-list:before{content:"\f03a"}.fa-list-ol:before{content:"\f0cb"}.fa-list-ul:before{content:"\f0ca"}.fa-question:before{content:"\f128"}.fa-question-circle:before{content:"\f059"}.fa-save:before{content:"\f0c7"}.fa-search:before{content:"\f002"}.fa-text-height:before{content:"\f034"}.fa-text-width:before{content:"\f035"}.fa-times:before{content:"\f00d"}.fa-times-circle:before{content:"\f057"}.fa-toggle-on:before{content:"\f205"}.fa-upload:before{content:"\f093"}.fa-user:before{content:"\f007"}.fa-user-circle:before{content:"\f2bd"}.fa-user-times:before{content:"\f235"}.fa-users:before{content:"\f0c0"}.fa-weight:before{content:"\f496"}.sr-only{border:0;clip:rect(0,0,0,0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}@font-face{font-family:Font Awesome\ 5 Brands;font-style:normal;font-weight:400;font-display:block;src:url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/webfonts/fa-brands-400.eot);src:url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/webfonts/fa-brands-400.eot#iefix) format("embedded-opentype"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/webfonts/fa-brands-400.woff2) format("woff2"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/webfonts/fa-brands-400.woff) format("woff"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/webfonts/fa-brands-400.ttf) format("truetype"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/webfonts/fa-brands-400.svg#fontawesome) format("svg")}@font-face{font-family:Font Awesome\ 5 Free;font-style:normal;font-weight:400;font-display:block;src:url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/webfonts/fa-regular-400.eot);src:url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/webfonts/fa-regular-400.eot#iefix) format("embedded-opentype"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/webfonts/fa-regular-400.woff2) format("woff2"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/webfonts/fa-regular-400.woff) format("woff"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/webfonts/fa-regular-400.ttf) format("truetype"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/webfonts/fa-regular-400.svg#fontawesome) format("svg")}.far{font-weight:400}@font-face{font-family:Font Awesome\ 5 Free;font-style:normal;font-weight:900;font-display:block;src:url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/webfonts/fa-solid-900.eot);src:url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/webfonts/fa-solid-900.eot#iefix) format("embedded-opentype"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/webfonts/fa-solid-900.woff2) format("woff2"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/webfonts/fa-solid-900.woff) format("woff"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/webfonts/fa-solid-900.ttf) format("truetype"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/webfonts/fa-solid-900.svg#fontawesome) format("svg")}.fa,.far,.fas{font-family:Font Awesome\ 5 Free}.fa,.fas{font-weight:900}@font-face{font-family:remixicon;src:url(https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.eot?t=1681573354175);src:url(https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.eot?t=1681573354175#iefix) format("embedded-opentype"),url(https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.woff2?t=1681573354175) format("woff2"),url(https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.woff?t=1681573354175) format("woff"),url(https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.ttf?t=1681573354175) format("truetype"),url(https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.svg?t=1681573354175#remixicon) format("svg");font-display:swap}[class*=" ri-"],[class^=ri-]{font-family:remixicon!important;font-style:normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.ri-sm{font-size:.875em}.ri-a-b:before{content:"\ea05"}.ri-alert-fill:before{content:"\ea20"}.ri-alert-line:before{content:"\ea21"}.ri-align-bottom:before{content:"\ea24"}.ri-align-center:before{content:"\ea25"}.ri-align-justify:before{content:"\ea26"}.ri-align-left:before{content:"\ea27"}.ri-align-right:before{content:"\ea28"}.ri-align-top:before{content:"\ea29"}.ri-android-fill:before{content:"\ea35"}.ri-android-line:before{content:"\ea36"}.ri-arrow-down-circle-fill:before{content:"\ea49"}.ri-arrow-down-circle-line:before{content:"\ea4a"}.ri-arrow-down-fill:before{content:"\ea4b"}.ri-arrow-down-line:before{content:"\ea4c"}.ri-arrow-down-s-fill:before{content:"\ea4d"}.ri-arrow-down-s-line:before{content:"\ea4e"}.ri-arrow-left-circle-fill:before{content:"\ea5b"}.ri-arrow-left-circle-line:before{content:"\ea5c"}.ri-arrow-left-down-fill:before{content:"\ea5d"}.ri-arrow-left-down-line:before{content:"\ea5e"}.ri-arrow-left-fill:before{content:"\ea5f"}.ri-arrow-left-line:before{content:"\ea60"}.ri-arrow-left-right-fill:before{content:"\ea61"}.ri-arrow-left-right-line:before{content:"\ea62"}.ri-arrow-left-s-fill:before{content:"\ea63"}.ri-arrow-left-s-line:before{content:"\ea64"}.ri-arrow-left-up-fill:before{content:"\ea65"}.ri-arrow-left-up-line:before{content:"\ea66"}.ri-arrow-right-circle-fill:before{content:"\ea67"}.ri-arrow-right-circle-line:before{content:"\ea68"}.ri-arrow-right-down-fill:before{content:"\ea69"}.ri-arrow-right-down-line:before{content:"\ea6a"}.ri-arrow-right-fill:before{content:"\ea6b"}.ri-arrow-right-line:before{content:"\ea6c"}.ri-arrow-right-s-fill:before{content:"\ea6d"}.ri-arrow-right-s-line:before{content:"\ea6e"}.ri-arrow-right-up-fill:before{content:"\ea6f"}.ri-arrow-right-up-line:before{content:"\ea70"}.ri-arrow-up-circle-fill:before{content:"\ea71"}.ri-arrow-up-circle-line:before{content:"\ea72"}.ri-arrow-up-down-fill:before{content:"\ea73"}.ri-arrow-up-down-line:before{content:"\ea74"}.ri-arrow-up-fill:before{content:"\ea75"}.ri-arrow-up-line:before{content:"\ea76"}.ri-arrow-up-s-fill:before{content:"\ea77"}.ri-arrow-up-s-line:before{content:"\ea78"}.ri-at-fill:before{content:"\ea82"}.ri-at-line:before{content:"\ea83"}.ri-close-circle-fill:before{content:"\eb96"}.ri-close-circle-line:before{content:"\eb97"}.ri-close-fill:before{content:"\eb98"}.ri-close-line:before{content:"\eb99"}.ri-device-fill:before{content:"\ec2d"}.ri-device-line:before{content:"\ec2e"}.ri-download-2-fill:before{content:"\ec53"}.ri-download-2-line:before{content:"\ec54"}.ri-download-fill:before{content:"\ec59"}.ri-download-line:before{content:"\ec5a"}.ri-english-input:before{content:"\ec9b"}.ri-file-2-fill:before{content:"\ecc2"}.ri-file-2-line:before{content:"\ecc3"}.ri-file-3-fill:before{content:"\ecc4"}.ri-file-3-line:before{content:"\ecc5"}.ri-file-4-fill:before{content:"\ecc6"}.ri-file-4-line:before{content:"\ecc7"}.ri-file-copy-2-fill:before{content:"\ecd2"}.ri-file-copy-2-line:before{content:"\ecd3"}.ri-file-copy-fill:before{content:"\ecd4"}.ri-file-copy-line:before{content:"\ecd5"}.ri-file-download-fill:before{content:"\ecd8"}.ri-file-download-line:before{content:"\ecd9"}.ri-file-fill:before{content:"\ece0"}.ri-file-gif-fill:before{content:"\ece3"}.ri-file-gif-line:before{content:"\ece4"}.ri-file-line:before{content:"\eceb"}.ri-file-list-2-fill:before{content:"\ecec"}.ri-file-list-2-line:before{content:"\eced"}.ri-file-list-3-fill:before{content:"\ecee"}.ri-file-list-3-line:before{content:"\ecef"}.ri-file-list-fill:before{content:"\ecf0"}.ri-file-list-line:before{content:"\ecf1"}.ri-file-reduce-fill:before{content:"\ed02"}.ri-file-reduce-line:before{content:"\ed03"}.ri-file-search-fill:before{content:"\ed04"}.ri-file-search-line:before{content:"\ed05"}.ri-file-settings-fill:before{content:"\ed06"}.ri-file-settings-line:before{content:"\ed07"}.ri-file-text-fill:before{content:"\ed0e"}.ri-file-text-line:before{content:"\ed0f"}.ri-file-upload-fill:before{content:"\ed14"}.ri-file-upload-line:before{content:"\ed15"}.ri-file-user-fill:before{content:"\ed16"}.ri-file-user-line:before{content:"\ed17"}.ri-font-size-2:before{content:"\ed8c"}.ri-font-size:before{content:"\ed8d"}.ri-google-fill:before{content:"\edd4"}.ri-google-line:before{content:"\edd5"}.ri-h-1:before{content:"\ede6"}.ri-h-2:before{content:"\ede7"}.ri-h-3:before{content:"\ede8"}.ri-h-4:before{content:"\ede9"}.ri-h-5:before{content:"\edea"}.ri-h-6:before{content:"\edeb"}.ri-html5-fill:before{content:"\ee40"}.ri-html5-line:before{content:"\ee41"}.ri-image-2-fill:before{content:"\ee44"}.ri-image-2-line:before{content:"\ee45"}.ri-image-fill:before{content:"\ee4a"}.ri-image-line:before{content:"\ee4b"}.ri-line-fill:before{content:"\eeac"}.ri-line-height:before{content:"\eead"}.ri-line-line:before{content:"\eeae"}.ri-link-m:before{content:"\eeaf"}.ri-link:before{content:"\eeb2"}.ri-list-settings-fill:before{content:"\eebc"}.ri-list-settings-line:before{content:"\eebd"}.ri-loader-2-fill:before{content:"\eec1"}.ri-loader-2-line:before{content:"\eec2"}.ri-loader-3-fill:before{content:"\eec3"}.ri-loader-3-line:before{content:"\eec4"}.ri-loader-4-fill:before{content:"\eec5"}.ri-loader-4-line:before{content:"\eec6"}.ri-loader-5-fill:before{content:"\eec7"}.ri-loader-5-line:before{content:"\eec8"}.ri-loader-fill:before{content:"\eec9"}.ri-loader-line:before{content:"\eeca"}.ri-menu-2-fill:before{content:"\ef31"}.ri-menu-2-line:before{content:"\ef32"}.ri-menu-3-fill:before{content:"\ef33"}.ri-menu-3-line:before{content:"\ef34"}.ri-menu-4-fill:before{content:"\ef35"}.ri-menu-4-line:before{content:"\ef36"}.ri-menu-5-fill:before{content:"\ef37"}.ri-menu-5-line:before{content:"\ef38"}.ri-menu-fill:before{content:"\ef3b"}.ri-menu-line:before{content:"\ef3e"}.ri-message-2-fill:before{content:"\ef43"}.ri-message-2-line:before{content:"\ef44"}.ri-message-3-fill:before{content:"\ef45"}.ri-message-3-line:before{content:"\ef46"}.ri-message-fill:before{content:"\ef47"}.ri-message-line:before{content:"\ef48"}.ri-more-2-fill:before{content:"\ef76"}.ri-more-2-line:before{content:"\ef77"}.ri-more-fill:before{content:"\ef78"}.ri-more-line:before{content:"\ef79"}.ri-pulse-fill:before{content:"\f034"}.ri-pulse-line:before{content:"\f035"}.ri-question-answer-fill:before{content:"\f042"}.ri-question-answer-line:before{content:"\f043"}.ri-question-fill:before{content:"\f044"}.ri-question-line:before{content:"\f045"}.ri-reserved-fill:before{content:"\f07b"}.ri-reserved-line:before{content:"\f07c"}.ri-save-2-fill:before{content:"\f0ae"}.ri-save-2-line:before{content:"\f0af"}.ri-save-3-fill:before{content:"\f0b0"}.ri-save-3-line:before{content:"\f0b1"}.ri-save-fill:before{content:"\f0b2"}.ri-save-line:before{content:"\f0b3"}.ri-search-2-fill:before{content:"\f0cc"}.ri-search-2-line:before{content:"\f0cd"}.ri-search-fill:before{content:"\f0d0"}.ri-search-line:before{content:"\f0d1"}.ri-settings-2-fill:before{content:"\f0e3"}.ri-settings-2-line:before{content:"\f0e4"}.ri-settings-3-fill:before{content:"\f0e5"}.ri-settings-3-line:before{content:"\f0e6"}.ri-settings-4-fill:before{content:"\f0e7"}.ri-settings-4-line:before{content:"\f0e8"}.ri-settings-5-fill:before{content:"\f0e9"}.ri-settings-5-line:before{content:"\f0ea"}.ri-settings-6-fill:before{content:"\f0eb"}.ri-settings-6-line:before{content:"\f0ec"}.ri-settings-fill:before{content:"\f0ed"}.ri-settings-line:before{content:"\f0ee"}.ri-text:before{content:"\f201"}.ri-time-fill:before{content:"\f20e"}.ri-time-line:before{content:"\f20f"}.ri-toggle-fill:before{content:"\f218"}.ri-toggle-line:before{content:"\f219"}.ri-upload-2-fill:before{content:"\f249"}.ri-upload-2-line:before{content:"\f24a"}.ri-upload-fill:before{content:"\f24f"}.ri-upload-line:before{content:"\f250"}.ri-user-2-fill:before{content:"\f253"}.ri-user-2-line:before{content:"\f254"}.ri-user-3-fill:before{content:"\f255"}.ri-user-3-line:before{content:"\f256"}.ri-user-4-fill:before{content:"\f257"}.ri-user-4-line:before{content:"\f258"}.ri-user-5-fill:before{content:"\f259"}.ri-user-5-line:before{content:"\f25a"}.ri-user-6-fill:before{content:"\f25b"}.ri-user-6-line:before{content:"\f25c"}.ri-user-fill:before{content:"\f25f"}.ri-user-follow-fill:before{content:"\f260"}.ri-user-follow-line:before{content:"\f261"}.ri-user-line:before{content:"\f264"}.ri-user-search-fill:before{content:"\f26b"}.ri-user-search-line:before{content:"\f26c"}.ri-user-settings-fill:before{content:"\f26d"}.ri-user-settings-line:before{content:"\f26e"}.ri-p2p-fill:before{content:"\f34d"}.ri-p2p-line:before{content:"\f34e"}@font-face{font-family:Montserrat;font-weight:400}h1{font-family:Montserrat,sans-serif}.video-thumbnail{position:relative;display:inline-block;width:100%}.video-thumbnail img{width:100%;display:block}.video-thumbnail svg{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:100px;height:100px;fill:none;stroke:#000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round}
    </style>
</head>
<body>
<header class="header">
    <nav class="nav-header container-header-nav">
        <div class="nav__data">
            <a href="/" class="nav__logo">
                Compress Image
            </a>

            <div class="nav__toggle" id="nav-toggle">
                <i class="ri-menu-line nav__burger"></i>
                <i class="ri-close-line nav__close"></i>
            </div>
        </div>

        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="dropdown__item">
                    <div class="nav__link">
                        Language <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                    </div>

                    <ul class="dropdown__menu">
                        <li style="display: flex">
                            <a href="/png" class="dropdown__link"> <i></i> English </a>
                            <a href="/vi/png" class="dropdown__link"> <i></i> Vietnamese </a>
                        </li>
                        <li style="display: flex">
                            <a href="/id/png" class="dropdown__link"> <i></i> Bahasa Indonesia </a>
                            <a href="/ms/png" class="dropdown__link"> <i></i>Bahasa Melayu</a>
                        </li>
                        <li style="display: flex">
                            <a href="/ja/png" class="dropdown__link"> <i></i> 日本語 </a>
                            <a href="/ko/png" class="dropdown__link"> <i></i> 한국어 </a>
                        </li>
                        <li style="display: flex">
                            <a href="/pt/png" class="dropdown__link"> <i></i> Português </a>
                            <a href="/hi/png" class="dropdown__link"> <i></i> भारत गणराज्य </a>
                        </li>
                        <li style="display: flex">
                            <a href="/es/png" class="dropdown__link"> <i></i> Español </a>
                            <a href="/fr/png" class="dropdown__link"> <i></i> Français </a>
                        </li>
                        <li style="display: flex">
                            <a href="/ro/png" class="dropdown__link"> <i></i> Română </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
<main>
    <section>
        <div class="justify-content-center" style="margin-top: 40px">
            <div style="line-height: 1.5;">
                <h1 style="text-align: center"><%= __('title-body-top-png') %></h1>
                <p style="text-align: center;margin-left: 10px;margin-right: 10px"><%= __('content-body-top-png') %></p>
            </div>
        </div>
        <div class='content' id="error-message" style="display: none;margin-top: 10px">
            <section>
                <div class="container error-container">
                    <div style="width: 60%">

                        <div class="col-sm-12">
                            <div class="alert fade alert-simple alert-danger alert-dismissible text-left  font__size-16 font__weight-light brk-library-rendered rendered show"
                                 role="alert" data-brk-library="component__alert">
                                <button type="button" class="close font__size-18" data-dismiss="alert">
									<span aria-hidden="true">
										<i class="fa fa-times danger "></i>
									</span>
                                    <span class="sr-only">Close</span>
                                </button>
                                <i class="start-icon far fa-times-circle faa-pulse animated"></i>
                                <strong class="font__weight-semibold"><%= __('mes_error_1') %></strong><%= __('mes_error_2') %>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div style="margin-top: 20px;display: flex;flex-wrap: wrap;justify-content: center;">
            <div style="background: white;padding: 10px;border-radius: 8px;margin: 10px">
                <a href="/" style="display: flex;align-items: center;">
                    <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" width="30" height="30" data-name="Layer 1" viewBox="0 0 405.33 512" class="mdl-js"><defs><style>.cls-1{fill:#fff;}.cls-2{fill:#f2f2f2;}.cls-3{fill:#10c7ff;}</style></defs><title>image compression</title><path class="cls-1" d="M394.67,96h-64a21.41,21.41,0,0,1-21.34-21.33v-64Z"/><path class="cls-1" d="M394.67,96V480a21.4,21.4,0,0,1-21.34,21.33H32A21.38,21.38,0,0,1,10.67,480V32A21.38,21.38,0,0,1,32,10.67H309.33v64A21.41,21.41,0,0,0,330.67,96Z"/><path class="cls-2" d="M202.67,426.67v10.66H160v-64h42.67Z"/><path class="cls-3" d="M330.67,213.33v192a21.41,21.41,0,0,1-21.34,21.34H202.67V373.33H181.33v-32l-32-32,32-32-32-32,32-32V192h128A21.41,21.41,0,0,1,330.67,213.33Z"/><path class="cls-3" d="M181.33,192v21.33l-32,32,32,32-32,32,32,32v32H160v53.34H96a21.4,21.4,0,0,1-21.33-21.34v-192A21.39,21.39,0,0,1,96,192Z"/><path d="M64,64H170.67V85.33H64Z"/><path d="M64,106.67H85.33V128H64Z"/><path d="M106.67,106.67H128V128H106.67Z"/><path d="M402.21,88.46,316.87,3.13A10.62,10.62,0,0,0,309.33,0H32A32,32,0,0,0,0,32H0V480a32,32,0,0,0,32,32H373.33a32,32,0,0,0,32-32V96A10.66,10.66,0,0,0,402.21,88.46ZM384,480a10.67,10.67,0,0,1-10.67,10.67H32A10.67,10.67,0,0,1,21.33,480V32A10.67,10.67,0,0,1,32,21.33H298.67V74.67a32,32,0,0,0,32,32H352V85.33H330.67A10.67,10.67,0,0,1,320,74.67V36.42l64,64Z"/><path d="M309.33,181.33h-128A10.67,10.67,0,0,0,170.67,192v16.92l-28.88,28.87a10.67,10.67,0,0,0,0,15.08l24.46,24.46-24.46,24.46a10.67,10.67,0,0,0,0,15.08l28.88,28.88v16.92H160a10.67,10.67,0,0,0-10.67,10.66v64A10.67,10.67,0,0,0,160,448h42.67a10.67,10.67,0,0,0,10.66-10.67v-64a10.66,10.66,0,0,0-10.66-10.66H192V341.33a10.62,10.62,0,0,0-3.13-7.54l-24.45-24.46,24.45-24.46a10.65,10.65,0,0,0,0-15.08l-24.45-24.46,24.45-24.46a10.62,10.62,0,0,0,3.13-7.54V202.67H309.33A10.67,10.67,0,0,1,320,213.33v192A10.67,10.67,0,0,1,309.33,416h-64v21.33h64a32,32,0,0,0,32-32v-192A32,32,0,0,0,309.33,181.33ZM192,426.67H170.67V384H192Z"/><path d="M85.33,405.33v-192A10.67,10.67,0,0,1,96,202.67h42.67V181.33H96a32,32,0,0,0-32,32v192a32,32,0,0,0,32,32h21.33V416H96A10.67,10.67,0,0,1,85.33,405.33Z"/></svg>
                    <span style="font-size: 13px;margin-left: 5px;color: black">Image Compression</span>
                </a>
            </div>
            <div style="background: white;padding: 10px;border-radius: 8px;margin: 10px">
                <a href="/crop" style="display: flex;align-items: center;">
                    <svg xmlns="http://www.w3.org/2000/svg" height="30" width="30" id="Layer_1" data-name="Layer 1" viewBox="0 0 409.6 409.6" class="mdl-js"><defs><style>.cls-1{fill:#e9eef0;}.cls-2{fill:#495d85;}</style></defs><title>crop image</title><path class="cls-1" d="M401.6,24V385.6a16,16,0,0,1-16,16H24a16,16,0,0,1-16-16V24A16,16,0,0,1,24,8H385.6a16,16,0,0,1,16,16Zm0,0"/><path class="cls-2" d="M308.8,276.8v-176h-176V48h-32v52.8H48v32h52.8v176h176v52.8h32V308.8h52.8v-32Zm-32,0h-144v-144h144Zm0,0"/><path d="M40,260.8a8,8,0,1,0,8,8,8,8,0,0,0-8-8Zm0,0"/><path d="M385.6,0H24A24,24,0,0,0,0,24V385.6a24,24,0,0,0,24,24H385.6a24,24,0,0,0,24-24V24a24,24,0,0,0-24-24Zm8,385.6a8,8,0,0,1-8,8H24a8,8,0,0,1-8-8V24a8,8,0,0,1,8-8H385.6a8,8,0,0,1,8,8Zm0,0"/><path d="M361.6,268.8H316.8V104.12l34.46-34.46A8,8,0,1,0,340,58.34L305.48,92.8H140.8V48a8,8,0,0,0-8-8h-32a8,8,0,0,0-8,8V92.8H48a8,8,0,0,0-8,8v32a8,8,0,0,0,8,8H92.8v168a8,8,0,0,0,8,8h168v44.8a8,8,0,0,0,8,8h32a8,8,0,0,0,8-8V316.8h44.8a8,8,0,0,0,8-8v-32a8,8,0,0,0-8-8ZM92.8,124.8H56v-16H92.8Zm48,16H257.48L140.8,257.48Zm128,160h-160V56h16V276.8a8,8,0,0,0,8,8h136Zm0-32H152.12L268.8,152.12Zm4.68-144H140.8v-16H289.48ZM300.8,353.6h-16V136.12l16-16Zm52.8-52.8H316.8v-16h36.8Zm0,0"/><path d="M40,292.8a8,8,0,0,0-8,8v68.8a8,8,0,0,0,16,0V300.8a8,8,0,0,0-8-8Zm0,0"/></svg>
                    <span style="font-size: 13px;margin-left: 5px;color: black">Crop Image</span>
                </a>
            </div>
            <div style="background: white;padding: 10px;border-radius: 8px;margin: 10px">
                <a href="/png" style="display: flex;align-items: center;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 84 107" fill="none" class="mdl-js">
                        <path d="M61.9601 2.08008H6.24008C3.94008 2.08008 2.08008 3.94008 2.08008 6.23008V100.21C2.08008 102.51 3.94008 104.37 6.23008 104.37H77.7601C80.0601 104.37 81.9201 102.51 81.9201 100.22V22.0401L61.9601 2.08008Z" fill="white"/>
                        <path d="M66.12 22.0401H81.92L61.96 2.08008V17.8801C61.96 20.1801 63.82 22.0401 66.11 22.0401H66.12Z" fill="#E2574C"/>
                        <path d="M81.92 52.4C80.77 52.4 79.84 53.33 79.84 54.48V100.23C79.84 101.38 78.91 102.31 77.76 102.31H6.24C5.09 102.31 4.16 101.38 4.16 100.23V6.24C4.16 5.09 5.09 4.16 6.24 4.16H59.88V17.88C59.88 21.32 62.68 24.12 66.12 24.12H79.84V37.43C79.84 38.58 80.77 39.51 81.92 39.51C83.07 39.51 84 38.58 84 37.43V22.04C84 21.49 83.78 20.96 83.39 20.57L63.43 0.61C63.04 0.22 62.51 0 61.96 0H6.24C2.8 0 0 2.8 0 6.24V100.22C0 103.66 2.8 106.46 6.24 106.46H77.76C81.2 106.46 84 103.66 84 100.22V54.48C84 53.33 83.07 52.4 81.92 52.4ZM64.04 17.88V7.1L76.9 19.96H66.12C64.97 19.96 64.04 19.03 64.04 17.88Z" fill="black"/>
                        <path d="M81.9201 44.2002C80.7701 44.2002 79.8401 45.1302 79.8301 46.2802C79.8301 47.4302 80.7601 48.3602 81.9101 48.3702C83.0601 48.3702 83.9901 47.4402 84.0001 46.2902C84.0001 45.7402 83.7801 45.2102 83.3901 44.8102C83.0001 44.4202 82.4701 44.2002 81.9201 44.2002Z" fill="black"/>
                        <path d="M68.5703 71.6401H15.5703C12.8089 71.6401 10.5703 73.8787 10.5703 76.6401V90.6401C10.5703 93.4016 12.8089 95.6401 15.5703 95.6401H68.5703C71.3317 95.6401 73.5703 93.4016 73.5703 90.6401V76.6401C73.5703 73.8787 71.3317 71.6401 68.5703 71.6401Z" fill="#E2574C" stroke="#020202" stroke-width="3" stroke-miterlimit="10"/>
                        <path d="M23.6797 89.9398V77.3398H28.8997C29.9197 77.3398 30.7997 77.4698 31.5297 77.7198C32.2597 77.9698 32.8197 78.3098 33.1997 78.7498C33.5797 79.1798 33.8497 79.6399 34.0097 80.1199C34.1697 80.5999 34.2497 81.1198 34.2497 81.6898C34.2497 82.8898 33.8197 83.9098 32.9497 84.7398C32.0897 85.5698 30.7397 85.9898 28.8997 85.9898H26.4697V89.9498H23.6797V89.9398ZM26.4697 79.9498V83.3699H28.8597C30.5197 83.3699 31.3497 82.7999 31.3497 81.6599C31.3497 80.5199 30.5597 79.9498 28.9697 79.9498H26.4697Z" fill="white"/>
                        <path d="M44.6901 89.9398L38.5901 82.4698V89.9398H35.8701V77.3398H38.0101L44.1301 84.8298V77.3398H46.8501V89.9398H44.6901Z" fill="white"/>
                        <path d="M54.5898 82.8899H60.4598V87.9899C59.8398 88.6699 59.0798 89.2099 58.1998 89.5899C57.3198 89.9699 56.3798 90.1699 55.3798 90.1699C53.3898 90.1699 51.7498 89.5699 50.4698 88.3699C49.1898 87.1699 48.5498 85.5999 48.5498 83.6499C48.5498 81.8099 49.1598 80.2699 50.3798 79.0099C51.5998 77.7599 53.1598 77.1299 55.0698 77.1299C56.1498 77.1299 57.1598 77.3399 58.0898 77.7499C59.0198 78.1599 59.7198 78.7099 60.1598 79.3999L58.2298 81.1299C57.4598 80.2699 56.4398 79.8299 55.1698 79.8299C54.0198 79.8299 53.1098 80.1699 52.4398 80.8499C51.7698 81.5299 51.4398 82.4599 51.4398 83.6499C51.4398 84.8399 51.7998 85.7899 52.5298 86.4599C53.2598 87.1299 54.2098 87.4699 55.3798 87.4699C56.2998 87.4699 57.0998 87.2299 57.7598 86.7499V85.4199H54.5698V82.8999L54.5898 82.8899Z" fill="white"/>
                        <path d="M19.3096 42.2502C19.3096 52.3602 27.4996 60.5502 37.6096 60.5502C47.7196 60.5502 55.9096 52.3602 55.9096 42.2502C55.9096 32.1402 47.7196 23.9502 37.6096 23.9502C27.4996 23.9502 19.3096 32.1402 19.3096 42.2502Z" fill="white" stroke="black" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M20.5293 36.1504H54.6893" stroke="black" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M20.5293 48.3501H54.6893" stroke="black" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M36.5892 23.9502C29.5992 35.1502 29.5992 49.3502 36.5892 60.5502" stroke="black" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M38.6299 23.9502C45.6199 35.1502 45.6199 49.3502 38.6299 60.5502" stroke="black" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span style="font-size: 13px;margin-left: 5px;color: black">Convert to PNG</span>
                </a>
            </div>
            <div style="background: white;padding: 10px;border-radius: 8px;margin: 10px">
                <a href="/jpg" style="display: flex;align-items: center;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 84 107" fill="none" class="mdl-js">
                        <path d="M61.9601 2.08002H6.24008C3.94008 2.08002 2.08008 3.94002 2.08008 6.23002V100.21C2.08008 102.51 3.94008 104.37 6.23008 104.37H77.7601C80.0601 104.37 81.9201 102.51 81.9201 100.22V22.04L61.9601 2.08002Z" fill="white"/>
                        <path d="M66.12 22.04H81.92L61.96 2.08002V17.88C61.96 20.18 63.82 22.04 66.11 22.04H66.12Z" fill="#3E81ED"/>
                        <path d="M81.92 52.4C80.77 52.4 79.84 53.33 79.84 54.48V100.23C79.84 101.38 78.91 102.31 77.76 102.31H6.24C5.09 102.31 4.16 101.38 4.16 100.23V6.24C4.16 5.09 5.09 4.16 6.24 4.16H59.88V17.88C59.88 21.32 62.68 24.12 66.12 24.12H79.84V37.43C79.84 38.58 80.77 39.51 81.92 39.51C83.07 39.51 84 38.58 84 37.43V22.04C84 21.49 83.78 20.96 83.39 20.57L63.43 0.61C63.04 0.22 62.51 0 61.96 0H6.24C2.8 0 0 2.8 0 6.24V100.22C0 103.66 2.8 106.46 6.24 106.46H77.76C81.2 106.46 84 103.66 84 100.22V54.48C84 53.33 83.07 52.4 81.92 52.4ZM64.04 17.88V7.1L76.9 19.96H66.12C64.97 19.96 64.04 19.03 64.04 17.88Z" fill="black"/>
                        <path d="M81.9201 44.2C80.7701 44.2 79.8401 45.13 79.8301 46.28C79.8301 47.43 80.7601 48.36 81.9101 48.37C83.0601 48.37 83.9901 47.44 84.0001 46.29C84.0001 45.74 83.7801 45.21 83.3901 44.81C83.0001 44.42 82.4701 44.2 81.9201 44.2Z" fill="black"/>
                        <path d="M68.5 71.73H15.5C12.7386 71.73 10.5 73.9686 10.5 76.73V90.73C10.5 93.4914 12.7386 95.73 15.5 95.73H68.5C71.2614 95.73 73.5 93.4914 73.5 90.73V76.73C73.5 73.9686 71.2614 71.73 68.5 71.73Z" fill="#3E81ED" stroke="#020202" stroke-width="3" stroke-miterlimit="10"/>
                        <path d="M33.9496 86.49C33.9496 87.82 33.6096 88.85 32.9196 89.57C32.2396 90.29 31.3096 90.65 30.1296 90.65C28.2196 90.65 26.8796 89.85 26.0996 88.24L28.1296 86.67C28.5796 87.58 29.1596 88.04 29.8796 88.04C30.3396 88.04 30.6596 87.87 30.8596 87.53C31.0596 87.19 31.1596 86.66 31.1596 85.95V77.83H33.9496V86.49Z" fill="white"/>
                        <path d="M36.1992 90.43V77.83H41.4192C42.4392 77.83 43.3192 77.96 44.0492 78.21C44.7792 78.46 45.3392 78.8 45.7192 79.24C46.0992 79.68 46.3692 80.13 46.5292 80.61C46.6892 81.09 46.7692 81.61 46.7692 82.18C46.7692 83.38 46.3392 84.4 45.4792 85.23C44.6092 86.06 43.2692 86.48 41.4292 86.48H38.9992V90.44H36.2092L36.1992 90.43ZM38.9892 80.44V83.86H41.3792C43.0392 83.86 43.8592 83.29 43.8592 82.15C43.8592 81.01 43.0692 80.44 41.4792 80.44H38.9792H38.9892Z" fill="white"/>
                        <path d="M54.4599 83.38H60.3299V88.48C59.7099 89.16 58.9499 89.7 58.0699 90.08C57.1899 90.46 56.2499 90.66 55.2499 90.66C53.2599 90.66 51.6199 90.06 50.3399 88.86C49.0599 87.66 48.4199 86.09 48.4199 84.14C48.4199 82.3 49.0299 80.76 50.2499 79.5C51.4699 78.24 53.0299 77.62 54.9399 77.62C56.0199 77.62 57.0299 77.83 57.9599 78.24C58.8999 78.65 59.5899 79.2 60.0299 79.89L58.0999 81.62C57.3299 80.76 56.3099 80.32 55.0399 80.32C53.8899 80.32 52.9799 80.66 52.3099 81.34C51.6399 82.02 51.3099 82.95 51.3099 84.14C51.3099 85.33 51.6699 86.28 52.3999 86.95C53.1299 87.62 54.0799 87.96 55.2499 87.96C56.1799 87.96 56.9699 87.72 57.6299 87.24V85.91H54.4399V83.39L54.4599 83.38Z" fill="white"/>
                        <path d="M18.9502 32.34H37.1102" stroke="black" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M18.9502 42.6H49.5902" stroke="black" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M18.9502 53.23H49.5902" stroke="black" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span style="font-size: 13px;margin-left: 5px;color: black">Convert to JPG</span>
                </a>
            </div>
            <div style="background: white;padding: 10px;border-radius: 8px;margin: 10px">
                <a href="/jpeg" style="display: flex;align-items: center;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 84 107" fill="none" class="mdl-js">
                        <path d="M61.9601 2.07996H6.24008C3.94008 2.07996 2.08008 3.93996 2.08008 6.22996V100.21C2.08008 102.51 3.94008 104.37 6.23008 104.37H77.7601C80.0601 104.37 81.9201 102.51 81.9201 100.22V22.04L61.9601 2.07996Z" fill="white"/>
                        <path d="M66.12 22.04H81.92L61.96 2.07996V17.88C61.96 20.18 63.82 22.04 66.11 22.04H66.12Z" fill="#E9956A"/>
                        <path d="M81.92 52.4C80.77 52.4 79.84 53.33 79.84 54.48V100.23C79.84 101.38 78.91 102.31 77.76 102.31H6.24C5.09 102.31 4.16 101.38 4.16 100.23V6.24C4.16 5.09 5.09 4.16 6.24 4.16H59.88V17.88C59.88 21.32 62.68 24.12 66.12 24.12H79.84V37.43C79.84 38.58 80.77 39.51 81.92 39.51C83.07 39.51 84 38.58 84 37.43V22.04C84 21.49 83.78 20.96 83.39 20.57L63.43 0.61C63.04 0.22 62.51 0 61.96 0H6.24C2.8 0 0 2.8 0 6.24V100.22C0 103.66 2.8 106.46 6.24 106.46H77.76C81.2 106.46 84 103.66 84 100.22V54.48C84 53.33 83.07 52.4 81.92 52.4ZM64.04 17.88V7.1L76.9 19.96H66.12C64.97 19.96 64.04 19.03 64.04 17.88Z" fill="black"/>
                        <path d="M81.9201 44.2C80.7701 44.2 79.8401 45.1299 79.8301 46.2799C79.8301 47.4299 80.7601 48.3599 81.9101 48.3699C83.0601 48.3699 83.9901 47.44 84.0001 46.29C84.0001 45.74 83.7801 45.21 83.3901 44.81C83.0001 44.42 82.4701 44.2 81.9201 44.2Z" fill="black"/>
                        <path d="M68.5 71.73H15.5C12.7386 71.73 10.5 73.9686 10.5 76.73V90.73C10.5 93.4914 12.7386 95.73 15.5 95.73H68.5C71.2614 95.73 73.5 93.4914 73.5 90.73V76.73C73.5 73.9686 71.2614 71.73 68.5 71.73Z" fill="#E9956A" stroke="#020202" stroke-width="3" stroke-miterlimit="10"/>
                        <path xmlns="http://www.w3.org/2000/svg" id="Path_103" data-name="Path 103" d="M7.668-12.6H4.878v8.118a3.24,3.24,0,0,1-.3,1.575,1.044,1.044,0,0,1-.981.513q-1.08,0-1.746-1.368L-.18-2.2A4.122,4.122,0,0,0,3.852.216a3.665,3.665,0,0,0,2.79-1.08A4.3,4.3,0,0,0,7.668-3.942ZM12.708,0V-3.96h2.43a5.655,5.655,0,0,0,4.05-1.251,4.079,4.079,0,0,0,1.3-3.051,4.869,4.869,0,0,0-.243-1.566,4.041,4.041,0,0,0-.81-1.368,3.8,3.8,0,0,0-1.665-1.026,8.105,8.105,0,0,0-2.628-.378H9.918V0Zm2.5-9.99q2.376,0,2.376,1.71T15.1-6.57H12.708V-9.99ZM22.1,0H31.9V-2.61h-7V-5.13h6.39V-7.65h-6.39V-9.99h6.84V-12.6H22.1ZM39.186-4.536h3.186V-3.2A3.93,3.93,0,0,1,40-2.484a4.033,4.033,0,0,1-2.853-1.008A3.637,3.637,0,0,1,36.054-6.3a3.822,3.822,0,0,1,1-2.8,3.648,3.648,0,0,1,2.727-1.017,3.893,3.893,0,0,1,3.06,1.3l1.926-1.728a4.587,4.587,0,0,0-2.07-1.647,7.391,7.391,0,0,0-3.024-.621,6.251,6.251,0,0,0-4.689,1.881A6.4,6.4,0,0,0,33.156-6.3a6.17,6.17,0,0,0,1.917,4.716,6.879,6.879,0,0,0,4.9,1.8A6.98,6.98,0,0,0,42.795-.36a6.563,6.563,0,0,0,2.259-1.6V-7.056H39.186Z" transform="translate(19.128 90.325)" fill="#fff"/>
                        <path d="M56.7096 27.33H27.2996C24.7039 27.33 22.5996 29.4342 22.5996 32.03V53.17C22.5996 55.7657 24.7039 57.87 27.2996 57.87H56.7096C59.3053 57.87 61.4096 55.7657 61.4096 53.17V32.03C61.4096 29.4342 59.3053 27.33 56.7096 27.33Z" fill="white" stroke="#020202" stroke-width="3" stroke-miterlimit="10"/>
                        <path d="M30.0596 50.95L37.9796 42.29L41.1496 45.18L46.5796 36.86L56.0096 50.95H30.0596Z" fill="#E9956A" stroke="#020202" stroke-width="3" stroke-miterlimit="10"/>
                        <path d="M32.6598 39.47C34.1013 39.47 35.2698 38.3015 35.2698 36.86C35.2698 35.4185 34.1013 34.25 32.6598 34.25C31.2183 34.25 30.0498 35.4185 30.0498 36.86C30.0498 38.3015 31.2183 39.47 32.6598 39.47Z" fill="#E9956A" stroke="#020202" stroke-width="3" stroke-miterlimit="10"/>
                    </svg>
                    <span style="font-size: 13px;margin-left: 5px;color: black">Convert to JPEG</span>
                </a>
            </div>
            <div style="background: white;padding: 10px;border-radius: 8px;margin: 10px">
                <a href="/ico" style="display: flex;align-items: center;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 84 107" fill="none" class="mdl-js">
                        <path d="M61.9601 2.07996H6.24008C3.94008 2.07996 2.08008 3.93996 2.08008 6.22996V100.21C2.08008 102.51 3.94008 104.37 6.23008 104.37H77.7601C80.0601 104.37 81.9201 102.51 81.9201 100.22V22.04L61.9601 2.07996Z" fill="white"/>
                        <path d="M66.12 22.04H81.92L61.96 2.07996V17.88C61.96 20.18 63.82 22.04 66.11 22.04H66.12Z" fill="#E2574C"/>
                        <path d="M81.92 52.4C80.77 52.4 79.84 53.33 79.84 54.48V100.23C79.84 101.38 78.91 102.31 77.76 102.31H6.24C5.09 102.31 4.16 101.38 4.16 100.23V6.24C4.16 5.09 5.09 4.16 6.24 4.16H59.88V17.88C59.88 21.32 62.68 24.12 66.12 24.12H79.84V37.43C79.84 38.58 80.77 39.51 81.92 39.51C83.07 39.51 84 38.58 84 37.43V22.04C84 21.49 83.78 20.96 83.39 20.57L63.43 0.61C63.04 0.22 62.51 0 61.96 0H6.24C2.8 0 0 2.8 0 6.24V100.22C0 103.66 2.8 106.46 6.24 106.46H77.76C81.2 106.46 84 103.66 84 100.22V54.48C84 53.33 83.07 52.4 81.92 52.4ZM64.04 17.88V7.1L76.9 19.96H66.12C64.97 19.96 64.04 19.03 64.04 17.88Z" fill="black"/>
                        <path d="M81.9201 44.2C80.7701 44.2 79.8401 45.1299 79.8301 46.2799C79.8301 47.4299 80.7601 48.3599 81.9101 48.3699C83.0601 48.3699 83.9901 47.44 84.0001 46.29C84.0001 45.74 83.7801 45.21 83.3901 44.81C83.0001 44.42 82.4701 44.2 81.9201 44.2Z" fill="black"/>
                        <path d="M68.5 71.73H15.5C12.7386 71.73 10.5 73.9686 10.5 76.73V90.73C10.5 93.4914 12.7386 95.73 15.5 95.73H68.5C71.2614 95.73 73.5 93.4914 73.5 90.73V76.73C73.5 73.9686 71.2614 71.73 68.5 71.73Z" fill="#E2574C" stroke="#020202" stroke-width="3" stroke-miterlimit="10"/>
                        <path d="M29.46 77.65H31.94V88.85H29.46V77.65Z" fill="white"/>
                        <path d="M44.04 86.74C43.54 87.48 42.87 88.04 42.03 88.44C41.19 88.84 40.27 89.04 39.27 89.04C37.53 89.04 36.14 88.51 35.1 87.45C34.06 86.39 33.54 84.99 33.54 83.25C33.54 81.62 34.08 80.24 35.16 79.13C36.24 78.02 37.63 77.46 39.34 77.46C40.34 77.46 41.25 77.65 42.05 78.04C42.86 78.43 43.46 78.94 43.87 79.58L42.19 81.12C41.87 80.71 41.46 80.4 40.97 80.18C40.48 79.96 39.99 79.85 39.51 79.85C38.5 79.85 37.68 80.16 37.05 80.77C36.43 81.38 36.11 82.21 36.11 83.24C36.11 84.27 36.43 85.06 37.06 85.69C37.69 86.32 38.5 86.63 39.47 86.63C40.74 86.63 41.77 86.13 42.56 85.14L44.03 86.72L44.04 86.74Z" fill="white"/>
                        <path d="M45.9395 79.14C47.0495 78.02 48.4195 77.46 50.0495 77.46C51.6795 77.46 53.0195 78.01 54.1395 79.12C55.2495 80.22 55.8095 81.6 55.8095 83.26C55.8095 84.92 55.2495 86.28 54.1395 87.39C53.0195 88.5 51.6595 89.05 50.0495 89.05C48.4395 89.05 47.0695 88.5 45.9495 87.39C44.8295 86.29 44.2695 84.91 44.2695 83.25C44.2695 81.59 44.8295 80.26 45.9395 79.14ZM47.7795 85.7C48.3995 86.33 49.1595 86.64 50.0495 86.64C50.9395 86.64 51.7095 86.33 52.3195 85.7C52.9295 85.08 53.2295 84.26 53.2295 83.24C53.2295 82.22 52.9095 81.42 52.2795 80.79C51.6495 80.16 50.8995 79.85 50.0495 79.85C49.1995 79.85 48.4095 80.16 47.7795 80.79C47.1595 81.42 46.8395 82.24 46.8395 83.24C46.8395 84.24 47.1495 85.06 47.7795 85.69V85.7Z" fill="white"/>
                        <path d="M46.3401 29.3199H32.8301V44.3699H46.3401V29.3199Z" fill="#E5E5E5"/>
                        <path d="M32.83 44.36H17.75V59.36H32.83V44.36Z" fill="#E5E5E5"/>
                        <path d="M32.8303 30.85H19.3203V44.36H32.8303V30.85Z" fill="white" stroke="#020202" stroke-width="3" stroke-miterlimit="10"/>
                        <path d="M61.3398 44.36H46.3398V59.36H61.3398V44.36Z" fill="#E5E5E5"/>
                        <path d="M59.8498 30.85H46.3398V44.36H59.8498V30.85Z" fill="white" stroke="#020202" stroke-width="3" stroke-miterlimit="10"/>
                        <path d="M46.3401 44.36H32.8301V57.87H46.3401V44.36Z" fill="white" stroke="#020202" stroke-width="3" stroke-miterlimit="10"/>
                    </svg>
                    <span style="font-size: 13px;margin-left: 5px;color: black">Convert to ICO</span>
                </a>
            </div>
        </div>

        <div style="display: flex;justify-content: center;">
            <form id="upload" enctype="multipart/form-data">
                <label for="file">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="" viewBox="0 0 24 24">
                            <g stroke-width="0" id="SVGRepo_bgCarrier"></g>
                            <g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g>
                            <g id="SVGRepo_iconCarrier">
                                <path fill=""
                                      d="M10 1C9.73478 1 9.48043 1.10536 9.29289 1.29289L3.29289 7.29289C3.10536 7.48043 3 7.73478 3 8V20C3 21.6569 4.34315 23 6 23H7C7.55228 23 8 22.5523 8 22C8 21.4477 7.55228 21 7 21H6C5.44772 21 5 20.5523 5 20V9H10C10.5523 9 11 8.55228 11 8V3H18C18.5523 3 19 3.44772 19 4V9C19 9.55228 19.4477 10 20 10C20.5523 10 21 9.55228 21 9V4C21 2.34315 19.6569 1 18 1H10ZM9 7H6.41421L9 4.41421V7ZM14 15.5C14 14.1193 15.1193 13 16.5 13C17.8807 13 19 14.1193 19 15.5V16V17H20C21.1046 17 22 17.8954 22 19C22 20.1046 21.1046 21 20 21H13C11.8954 21 11 20.1046 11 19C11 17.8954 11.8954 17 13 17H14V16V15.5ZM16.5 11C14.142 11 12.2076 12.8136 12.0156 15.122C10.2825 15.5606 9 17.1305 9 19C9 21.2091 10.7909 23 13 23H20C22.2091 23 24 21.2091 24 19C24 17.1305 22.7175 15.5606 20.9844 15.122C20.7924 12.8136 18.858 11 16.5 11Z"
                                      clip-rule="evenodd" fill-rule="evenodd"></path>
                            </g>
                        </svg>
                    </div>
                    <div class="text" style="margin-top: 20px">
                        <span style="text-align: center"><%= __('title-choose-file') %></span>
                        <input id="file" type="file" name="image" accept="image/*" required multiple>
                    </div>
                </label>
            </form>
        </div>
        <div style="display: flex;justify-content: center;align-items: center;margin-bottom: 30px">
            <div id="result-container-1">
                <div id="result-container"></div>
            </div>
            <div style="display: none" id="load" class="loader"></div>
        </div>
    </section>
    <section class="container-content" id="introduction">
        <h2 class="fs-5 "><%= __('title-introduction') %></h2>
        <p>
            <%= __('content-introduction') %>
        </p>
        <p>
            <%= __('content2-introduction') %>
        </p>
    </section>
    <section class="mt-10 container-content" id="how-to-png">
        <h2 class="fs-5 "> <%= __('h2-how-to-png') %></h2>
        <p>
            <%= __('p1-how-to-png') %>
        </p>
        <ol style="margin-left: 20px">
            <li>
                <%= __('li1-how-to-png') %>
            </li>
            <li>

                <%= __('li2-how-to-png') %>
            </li>
            <li>
                <%= __('li3-how-to-png') %>
            </li>
        </ol>
        <p>
            <%= __('p2-how-to-png') %>
        </p>
    </section>
    <section id="tutorial" class="container-content">
        <h2><%= __('h2-tutorial') %></h2>
        <p><%= __('p1-tutorial') %></p>
        <a class="video-thumbnail" href="https://youtu.be/BBbU9LE1rpU">
            <div>
                <img src="https://i.imgur.com/m2EUL6O.jpeg" alt="Video Thumbnail">
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <circle cx="12" cy="12" r="10"></circle>
                <polygon points="10 8 16 12 10 16 10 8"></polygon>
            </svg>
        </a>
        <p><%= __('p2-tutorial') %></p>
    </section>
    <section class="mt-10 container-content" id="tips">
        <h2 class="fs-5 "> <%= __('h2-tips') %></h2>
        <p>
            <%= __('p1-tips') %>
        </p>
        <ol style="margin-left: 20px">
            <li>
                <%= __('li1-tips') %>
            </li>
            <li>

                <%= __('li2-tips') %>
            </li>
            <li>
                <%= __('li3-tips') %>
            </li>
            <li>
                <%= __('li4-tips') %>
            </li>
            <li>
                <%= __('li5-tips') %>
            </li>
            <li>
                <%= __('li6-tips') %>
            </li>
        </ol>
        <p>
            <%= __('p2-tips') %>
        </p>
    </section>
    <section class="container-content">
        <h2 class="text-justify fs-5 "><%= __('title-welcome-faqs') %></h2>
        <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="mlr  ">
            <div class="center-box-faq">
                <button itemprop="name" class="accordion"><%= __('name-faqs1-png') %><i
                            class="fas fa-chevron-down"></i>
                </button>
                <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" class="panel">
                    <ul>
                        <li>
                            <p class="line-height" itemprop="text"><%= __('text-faqs1-png') %></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="mlr">
            <div class="center-box-faq">
                <button itemprop="name" class="accordion"><%= __('name-faqs2-png') %><i
                            class="fas fa-chevron-down"></i>
                </button>
                <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" class="panel">
                    <ul>
                        <li>
                            <p class="line-height" itemprop="text"><%= __('text-faqs2-png') %></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="mlr  ">
            <div class="center-box-faq">
                <button itemprop="name" class="accordion"><%= __('name-faqs3-png') %><i
                            class="fas fa-chevron-down"></i>
                </button>
                <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" class="panel">
                    <ul>
                        <li>
                            <p class="line-height" itemprop="text"><%= __('text-faqs3-png') %></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="mlr   ">
            <div class="center-box-faq">
                <button itemprop="name" class="accordion"><%= __('name-faqs4-png') %><i
                            class="fas fa-chevron-down"></i>
                </button>
                <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" class="panel">
                    <ul>
                        <li>
                            <p class="line-height" itemprop="text"><%= __('text-faqs4-png') %></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </section>
</main>
<footer style="margin-top: 20px">
    <div class="footer-content">
        <p>Designed by <a href="/">NTC</a></p>
        <p>&copy; 2024 - All rights reserved</p>
    </div>
</footer>
<script type="text/javascript" defer>
    let filesSelected=!1;function formatFileSize(e){return e<1024?e+" Bytes":e<1048576?(e/1024).toFixed(1)+" KB":(e/1048576).toFixed(1)+" MB"}document.getElementById("upload").addEventListener("change",(async e=>{e.preventDefault();const t=document.getElementById("file"),n=document.getElementById("result-container-1"),l=document.getElementById("result-container"),s=document.getElementById("error-message"),a=document.getElementById("load");console.log(l);const o=t.files[0];if(!o)return void alert("Please select an image file.");if(o.size>1048576)return s.style.display="block",void setTimeout((()=>{s.style.display="none"}),3e3);n.style.display="block",n.style.opacity=.5,a.style.display="block";const i=new FormData;i.append("image",o),fetch("/pngConvert/convertPNG",{method:"POST",body:i}).then((e=>e.json())).then((e=>{l.innerHTML=`\n<div style="" class="custom-details">\n <div class="" style="display: flex; flex-wrap: wrap">\n <p class="customP"><b>Name(Befor):</b> ${e.originalFilename}</p>\n</div>\n <div class=""style="display: flex;flex-wrap: wrap">\n <p class="customP" style="color: #7eb631"><b style="color: black">Name(After): </b>${e.newFilename}</p>\n <a class="a-download" href="data:image/png;base64,${e.base64}" download="convert_${e.newFilename}">Download</a>\n</div>\n</div>\n<div style="margin-top: 20px;text-align: center;">\n<img style="width: 50%" src="data:image/png;base64,${e.base64}"/>\n</div>\n`})).finally((()=>{a.style.display="none",n.style.opacity=1})).catch((e=>{console.log(e)}))}));const acc=document.getElementsByClassName("accordion");let i;for(i=0;i<acc.length;i++)acc[i].addEventListener("click",(function(){this.classList.toggle("active");let e=this.nextElementSibling;e.style.maxHeight?e.style.maxHeight=null:e.style.maxHeight=e.scrollHeight+"px"}));const showMenu=(e,t)=>{let n=document.getElementById(e),l=document.getElementById(t);n.addEventListener("click",(()=>{l.classList.toggle("show-menu"),n.classList.toggle("show-icon")}))};showMenu("nav-toggle","nav-menu");
</script>
<script type="application/ld+json" defer>
    {
        "@context": "https://schema.org",
        "@type": "FAQPage",
        "mainEntity": [
            {
                "@type": "Question",
                "name": "<%= __('name-faqs1-png') %>",
                    "acceptedAnswer": {
                        "@type": "Answer",
                        "text": "<%= __('text-faqs1-png') %>"
                    }
                },
                {
                    "@type": "Question",
                    "name": "<%= __('name-faqs2-png') %>",
                    "acceptedAnswer": {
                        "@type": "Answer",
                        "text": "<%= __('text-faqs2-png') %>"
                    }
                },
                {
                    "@type": "Question",
                    "name": "<%= __('name-faqs3-png') %>",
                    "acceptedAnswer": {
                        "@type": "Answer",
                        "text": "<%= __('text-faqs3-png') %>"
                    }
                },
                {
                    "@type": "Question",
                    "name": "<%= __('name-faqs4-png') %>",
                    "acceptedAnswer": {
                        "@type": "Answer",
                        "text": "<%= __('text-faqs4-png') %>"
                    }
                }

            ]
        }
</script>
</body>
</html>
