<!DOCTYPE html>
<html lang="<%= __('lang') %>">
<head>
    <title><%= __('title') %></title>
    <meta name="description" content="<%= __('description') %>">
    <meta name="keywords" content="<%= __('keyword') %>"/>
    <meta itemprop="image" content="">
    <meta name="robots" content="index, follow"/>
    <meta name="twitter:card" content="<%= __('twitter_card_sumary') %>">
    <meta name="twitter:title" content="<%= __('twitter_title') %>">
    <meta name="twitter:description" content="<%= __('twitter_description') %>">
    <meta name="twitter:image:src" content="https://compressimage.me/images/favicon.png">
    <meta name="twitter:site" content="compressimage.me">
    <meta property="og:title" content="<%= __('og_title') %>">
    <meta property="og:type" content="article">
    <meta property="og:image" content="https://compressimage.me/images/favicon.png">
    <meta property="og:description" content="<%= __('og_description') %>">
    <meta property="og:site_name" content="compressimage.me">
    <link rel="apple-touch-icon" sizes="192x192" href="https://compressimage.me/images/favicon.png">
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
    <meta name="google" content="notranslate"/>
    <link rel="alternate" hreflang="x-default" href="https://compressimage.me/"/>
    <link rel="alternate" hreflang="en" href="https://compressimage.me/en"/>
    <link rel="alternate" hreflang="vi" href="https://compressimage.me/vi"/>
    <link rel="alternate" hreflang="id" href="https://compressimage.me/id"/>
    <link rel="alternate" hreflang="ms" href="https://compressimage.me/ms"/>
    <link rel="alternate" hreflang="ja" href="https://compressimage.me/ja"/>
    <link rel="alternate" hreflang="ko" href="https://compressimage.me/ko"/>
    <link rel="alternate" hreflang="pt" href="https://compressimage.me/pt"/>
    <link rel="alternate" hreflang="hi" href="https://compressimage.me/hi"/>
    <link rel="alternate" hreflang="es" href="https://compressimage.me/es"/>
    <link rel="alternate" hreflang="fr" href="https://compressimage.me/fr"/>
    <link rel="alternate" hreflang="ro" href="https://compressimage.me/ro"/>
    <link rel="sitemap" href="https://compressimage.me/sitemap.xml"/>
    <link rel="canonical" href="https://compressimage.me/"/>

    <meta name="google-site-verification" content="45tzeD5vb8UThHDKRNQnXDAd-wVFqmAzupDCsS_TFvQ"/>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5430905845990574"
            crossorigin="anonymous"></script>
    <meta name="google-adsense-account" content="ca-pub-5430905845990574">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
        :root{--header-height:3.5rem;--black-color:#171c26;--black-color-light:#1d232f;--black-color-lighten:#252b37;--white-color:#fff;--body-color:#f0f5ff;--body-font:"Montserrat",sans-serif;--normal-font-size:.938rem;--font-regular:400;--font-semi-bold:600;--z-tooltip:10;--z-fixed:100}@media screen and (min-width:1024px){:root{--normal-font-size:1rem}}*{box-sizing:border-box;padding:0;margin:0}body{font-family:var(--body-font);font-size:var(--normal-font-size);background-color:var(--body-color);}ul{list-style:none;padding-left:0}a{text-decoration:none}.container-header-nav{max-width:1120px;margin-inline:1.5rem}.header{top:0;left:0;width:100%;background-color:var(--black-color);box-shadow:0 2px 16px rgba(14,18,27,.3);z-index:var(--z-fixed)}.nav-header{height:var(--header-height)}.nav__burger,.nav__close,.nav__logo{color:var(--white-color)}.nav__data{height:100%;display:flex;justify-content:space-between;align-items:center}.nav__logo{display:inline-flex;align-items:center;column-gap:.25rem;font-weight:var(--font-semi-bold)}.nav__logo i{font-weight:400;font-size:1.25rem}.nav__toggle{position:relative;width:32px;height:32px}.nav__burger,.nav__close{position:absolute;width:max-content;height:max-content;inset:0;margin:auto;font-size:1.25rem;cursor:pointer;transition:opacity .1s,transform .4s}.nav__close{opacity:0}@media screen and (max-width:1118px){.nav__menu{position:absolute;left:0;top:2.5rem;width:100%;height:calc(100vh - 3.5rem);overflow:auto;pointer-events:none;opacity:0;transition:top .4s,opacity .3s}.nav__menu::-webkit-scrollbar{width:0}.nav__list{background-color:var(--black-color);padding-top:1rem}}.nav__link{color:var(--white-color);background-color:var(--black-color);font-weight:var(--font-semi-bold);padding:1.25rem 1.5rem;display:flex;justify-content:space-between;align-items:center;transition:background-color .3s}.nav__link:hover{background-color:var(--black-color-light)}.show-menu{opacity:1;top:3.5rem;pointer-events:auto}.show-icon .nav__burger{opacity:0;transform:rotate(90deg)}.show-icon .nav__close{opacity:1;transform:rotate(90deg)}.dropdown__item{cursor:pointer}.dropdown__arrow{font-size:1.25rem;font-weight:400;transition:transform .4s}.dropdown__link{padding:1.25rem 1.25rem 1.25rem 2.5rem;color:var(--white-color);background-color:var(--black-color-light);display:flex;align-items:center;column-gap:.5rem;font-weight:var(--font-semi-bold);transition:background-color .3s}.dropdown__link i{font-size:1.25rem;font-weight:400}.dropdown__link:hover{background-color:var(--black-color)}.dropdown__menu{max-height:0;overflow:hidden;transition:max-height .4s ease-out}.dropdown__item:hover .dropdown__menu{max-height:1000px;transition:max-height .4s ease-in}.dropdown__item:hover .dropdown__arrow{transform:rotate(180deg)}@media screen and (max-width:340px){.container-header-nav{margin-inline:1rem}.nav__link{padding-inline:1rem}}@media screen and (min-width:1118px){.container-header-nav{margin-inline:auto}.nav-header{height:calc(var(--header-height) + 2rem);display:flex;justify-content:space-between}.nav__toggle{display:none}.nav__list{height:100%;display:flex;column-gap:3rem}.nav__link{height:100%;padding:0;justify-content:normal;column-gap:.25rem}.nav__link:hover{background-color:transparent}.dropdown__item{position:relative}.dropdown__menu{max-height:none;overflow:initial;position:absolute;left:0;top:6rem;opacity:0;pointer-events:none;transition:opacity .3s,top .3s}.dropdown__link{padding-inline:1rem 3.5rem}.dropdown__item:hover .dropdown__menu{opacity:1;top:5.5rem;pointer-events:auto;transition:top .3s}}#upload{height:200px;width:70%;flex-direction:column;gap:20px;cursor:pointer;border:2px dashed #e8e8e8;background-color:#fff;padding:1.5rem;border-radius:10px;box-shadow:0 48px 35px -48px #e8e8e8;margin-top:20px;margin-bottom:20px}#upload,#upload .icon{display:flex;align-items:center;justify-content:center}#upload .icon svg{height:80px;fill:#4b5563}#upload .text{display:flex;align-items:center;justify-content:center}#upload .text span{font-weight:400;color:#4b5563}#upload input{display:none}body{margin:0}.customP{text-overflow:ellipsis;overflow:hidden;width:150px;white-space:nowrap;margin-bottom:0;font-size:14px}.a-download{font-size:15px}.custom-details{display:flex;justify-content:space-evenly;align-items:center}@media screen and (max-width:540px){.custom-details{display:block}}@media screen and (max-width:600px){.a-download,.customP{font-size:13px}}#result-container-1{width:60%;min-height:80px;display:none;flex-direction:column;gap:20px;cursor:pointer;justify-content:center;border:2px dashed #e8e8e8;background-color:#fff;padding:1.5rem;border-radius:10px;box-shadow:0 48px 35px -48px #e8e8e8;margin-top:20px}#result-container{display:flex;flex-direction:column;gap:20px}.container-content{margin:0 auto;max-width:1200px;padding:1em;line-height:1.75}.fs-5{font-size:20px}.line-height{line-height:25px}.mt-4{margin-top:20px}.mt-10{margin-top:10px}.mb-10{margin-bottom:10px}.text-justify{text-align:justify}footer{background-color:#333;color:#fff;padding:15px 0;text-align:center;width:100%;bottom:0}.footer-content{max-width:1200px;margin:0 auto}.footer-content p{margin:5px 0}.footer-content a{color:#fff;text-decoration:none}.loader{position:relative;width:2.5em;height:2.5em;transform:rotate(165deg)}.loader:after,.loader:before{content:"";position:absolute;top:50%;left:50%;display:block;width:.5em;height:.5em;border-radius:.25em;transform:translate(-50%,-50%)}.loader:before{animation:before8 2s infinite}.loader:after{animation:after6 2s infinite}@keyframes before8{0%{width:.5em;box-shadow:1em -.5em rgba(225,20,98,.75),-1em .5em rgba(111,202,220,.75)}35%{width:2.5em;box-shadow:0 -.5em rgba(225,20,98,.75),0 .5em rgba(111,202,220,.75)}70%{width:.5em;box-shadow:-1em -.5em rgba(225,20,98,.75),1em .5em rgba(111,202,220,.75)}to{box-shadow:1em -.5em rgba(225,20,98,.75),-1em .5em rgba(111,202,220,.75)}}@keyframes after6{0%{height:.5em;box-shadow:.5em 1em rgba(61,184,143,.75),-.5em -1em rgba(233,169,32,.75)}35%{height:2.5em;box-shadow:.5em 0 rgba(61,184,143,.75),-.5em 0 rgba(233,169,32,.75)}70%{height:.5em;box-shadow:.5em -1em rgba(61,184,143,.75),-.5em 1em rgba(233,169,32,.75)}to{box-shadow:.5em 1em rgba(61,184,143,.75),-.5em -1em rgba(233,169,32,.75)}}.loader{position:absolute;left:calc(50% - 1.25em)}.accordion{background-color:#eee;color:#444;cursor:pointer;width:100%;border:none;text-align:left;outline:0;font-size:15px;transition:background-color .4s;margin-top:20px;border-radius:10px;position:relative;padding:18px 55px 18px 18px}.accordion:hover,.active{background-color:#ccc}.panel{padding:0 18px;max-height:0;overflow:hidden;transition:max-height .2s ease-out}.panel p{margin-block-start:1.3em;text-align:justify}.accordion i{position:absolute;top:50%;right:18px;transform:translateY(-50%);transition:transform .4s}.accordion.active i{transform:translateY(-50%) rotate(-180deg)}.center-box-faq,.mlr{width:100%;margin:0 auto}.content{padding:0}.close{float:right;font-size:21px;font-weight:700;line-height:1;color:#000;text-shadow:0 1px 0 #fff;opacity:.2}button.close{padding:0;cursor:pointer;background:0 0;border:0;-webkit-appearance:none}.alert{padding:15px;border:1px solid transparent;border-radius:4px}.alert>.start-icon{margin-right:0;min-width:20px;text-align:center;margin-right:5px}.alert-simple.alert-danger{background-color:rgba(220,17,1,.16);box-shadow:0 0 2px #ff0303;color:#ff0303;transition:.5s;cursor:pointer}.alert-danger:hover{background-color:rgba(220,17,1,.33);transition:.5s}.danger{font-size:18px;color:#ff0303;text-shadow:none}.alert:before{content:"";position:absolute;width:0;height:calc(100% - 44px);border-left:1px solid;border-right:2px solid;border-bottom-right-radius:3px;border-top-right-radius:3px;left:0;top:50%;transform:translateY(-50%);height:20px}.fa-times{-webkit-animation:blink-1 2s infinite both;animation:blink-1 2s infinite both}.error-container{display:flex;justify-content:center}.alert{--bs-alert-margin-bottom:0rem}@-webkit-keyframes blink-1{0%,50%,to{opacity:1}25%,75%{opacity:0}}@keyframes blink-1{0%,50%,to{opacity:1}25%,75%{opacity:0}}.fa,.far,.fas{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:inline-block;font-style:normal;font-variant:normal;text-rendering:auto;line-height:1}.fa-sm{font-size:.875em}.fa-ul{list-style-type:none;margin-left:2.5em;padding-left:0}.fa-ul>li{position:relative}.fa-li{left:-2em;position:absolute;text-align:center;width:2em;line-height:inherit}.fa-pulse{-webkit-animation:fa-spin 1s steps(8) infinite;animation:fa-spin 1s steps(8) infinite}@-webkit-keyframes fa-spin{0%{-webkit-transform:rotate(0);transform:rotate(0)}to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}}@keyframes fa-spin{0%{-webkit-transform:rotate(0);transform:rotate(0)}to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}}.fa-500px:before{content:"\f26e"}.fa-adjust:before{content:"\f042"}.fa-align-center:before{content:"\f037"}.fa-align-justify:before{content:"\f039"}.fa-align-left:before{content:"\f036"}.fa-align-right:before{content:"\f038"}.fa-android:before{content:"\f17b"}.fa-arrow-circle-down:before{content:"\f0ab"}.fa-arrow-circle-left:before{content:"\f0a8"}.fa-arrow-circle-right:before{content:"\f0a9"}.fa-arrow-circle-up:before{content:"\f0aa"}.fa-arrow-down:before{content:"\f063"}.fa-arrow-left:before{content:"\f060"}.fa-arrow-right:before{content:"\f061"}.fa-arrow-up:before{content:"\f062"}.fa-at:before{content:"\f1fa"}.fa-chevron-circle-down:before{content:"\f13a"}.fa-chevron-circle-left:before{content:"\f137"}.fa-chevron-circle-right:before{content:"\f138"}.fa-chevron-circle-up:before{content:"\f139"}.fa-chevron-down:before{content:"\f078"}.fa-chevron-left:before{content:"\f053"}.fa-chevron-right:before{content:"\f054"}.fa-chevron-up:before{content:"\f077"}.fa-circle:before{content:"\f111"}.fa-compress:before{content:"\f066"}.fa-copy:before{content:"\f0c5"}.fa-d-and-d:before{content:"\f38d"}.fa-download:before{content:"\f019"}.fa-file:before{content:"\f15b"}.fa-file-download:before{content:"\f56d"}.fa-file-image:before{content:"\f1c5"}.fa-file-upload:before{content:"\f574"}.fa-fill:before{content:"\f575"}.fa-font:before{content:"\f031"}.fa-google:before{content:"\f1a0"}.fa-html5:before{content:"\f13b"}.fa-image:before{content:"\f03e"}.fa-images:before{content:"\f302"}.fa-language:before{content:"\f1ab"}.fa-line:before{content:"\f3c0"}.fa-link:before{content:"\f0c1"}.fa-list:before{content:"\f03a"}.fa-list-ol:before{content:"\f0cb"}.fa-list-ul:before{content:"\f0ca"}.fa-question:before{content:"\f128"}.fa-question-circle:before{content:"\f059"}.fa-save:before{content:"\f0c7"}.fa-search:before{content:"\f002"}.fa-text-height:before{content:"\f034"}.fa-text-width:before{content:"\f035"}.fa-times:before{content:"\f00d"}.fa-times-circle:before{content:"\f057"}.fa-toggle-on:before{content:"\f205"}.fa-upload:before{content:"\f093"}.fa-user:before{content:"\f007"}.fa-user-circle:before{content:"\f2bd"}.fa-user-times:before{content:"\f235"}.fa-users:before{content:"\f0c0"}.fa-weight:before{content:"\f496"}.sr-only{border:0;clip:rect(0,0,0,0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}@font-face{font-family:Font Awesome\ 5 Brands;font-style:normal;font-weight:400;font-display:block;src:url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/webfonts/fa-brands-400.eot);src:url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/webfonts/fa-brands-400.eot#iefix) format("embedded-opentype"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/webfonts/fa-brands-400.woff2) format("woff2"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/webfonts/fa-brands-400.woff) format("woff"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/webfonts/fa-brands-400.ttf) format("truetype"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/webfonts/fa-brands-400.svg#fontawesome) format("svg")}@font-face{font-family:Font Awesome\ 5 Free;font-style:normal;font-weight:400;font-display:block;src:url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/webfonts/fa-regular-400.eot);src:url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/webfonts/fa-regular-400.eot#iefix) format("embedded-opentype"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/webfonts/fa-regular-400.woff2) format("woff2"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/webfonts/fa-regular-400.woff) format("woff"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/webfonts/fa-regular-400.ttf) format("truetype"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/webfonts/fa-regular-400.svg#fontawesome) format("svg")}.far{font-weight:400}@font-face{font-family:Font Awesome\ 5 Free;font-style:normal;font-weight:900;font-display:block;src:url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/webfonts/fa-solid-900.eot);src:url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/webfonts/fa-solid-900.eot#iefix) format("embedded-opentype"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/webfonts/fa-solid-900.woff2) format("woff2"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/webfonts/fa-solid-900.woff) format("woff"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/webfonts/fa-solid-900.ttf) format("truetype"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/webfonts/fa-solid-900.svg#fontawesome) format("svg")}.fa,.far,.fas{font-family:Font Awesome\ 5 Free}.fa,.fas{font-weight:900}@font-face{font-family:remixicon;src:url(https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.eot?t=1681573354175);src:url(https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.eot?t=1681573354175#iefix) format("embedded-opentype"),url(https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.woff2?t=1681573354175) format("woff2"),url(https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.woff?t=1681573354175) format("woff"),url(https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.ttf?t=1681573354175) format("truetype"),url(https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.svg?t=1681573354175#remixicon) format("svg");font-display:swap}[class*=" ri-"],[class^=ri-]{font-family:remixicon!important;font-style:normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.ri-sm{font-size:.875em}.ri-a-b:before{content:"\ea05"}.ri-alert-fill:before{content:"\ea20"}.ri-alert-line:before{content:"\ea21"}.ri-align-bottom:before{content:"\ea24"}.ri-align-center:before{content:"\ea25"}.ri-align-justify:before{content:"\ea26"}.ri-align-left:before{content:"\ea27"}.ri-align-right:before{content:"\ea28"}.ri-align-top:before{content:"\ea29"}.ri-android-fill:before{content:"\ea35"}.ri-android-line:before{content:"\ea36"}.ri-arrow-down-circle-fill:before{content:"\ea49"}.ri-arrow-down-circle-line:before{content:"\ea4a"}.ri-arrow-down-fill:before{content:"\ea4b"}.ri-arrow-down-line:before{content:"\ea4c"}.ri-arrow-down-s-fill:before{content:"\ea4d"}.ri-arrow-down-s-line:before{content:"\ea4e"}.ri-arrow-left-circle-fill:before{content:"\ea5b"}.ri-arrow-left-circle-line:before{content:"\ea5c"}.ri-arrow-left-down-fill:before{content:"\ea5d"}.ri-arrow-left-down-line:before{content:"\ea5e"}.ri-arrow-left-fill:before{content:"\ea5f"}.ri-arrow-left-line:before{content:"\ea60"}.ri-arrow-left-right-fill:before{content:"\ea61"}.ri-arrow-left-right-line:before{content:"\ea62"}.ri-arrow-left-s-fill:before{content:"\ea63"}.ri-arrow-left-s-line:before{content:"\ea64"}.ri-arrow-left-up-fill:before{content:"\ea65"}.ri-arrow-left-up-line:before{content:"\ea66"}.ri-arrow-right-circle-fill:before{content:"\ea67"}.ri-arrow-right-circle-line:before{content:"\ea68"}.ri-arrow-right-down-fill:before{content:"\ea69"}.ri-arrow-right-down-line:before{content:"\ea6a"}.ri-arrow-right-fill:before{content:"\ea6b"}.ri-arrow-right-line:before{content:"\ea6c"}.ri-arrow-right-s-fill:before{content:"\ea6d"}.ri-arrow-right-s-line:before{content:"\ea6e"}.ri-arrow-right-up-fill:before{content:"\ea6f"}.ri-arrow-right-up-line:before{content:"\ea70"}.ri-arrow-up-circle-fill:before{content:"\ea71"}.ri-arrow-up-circle-line:before{content:"\ea72"}.ri-arrow-up-down-fill:before{content:"\ea73"}.ri-arrow-up-down-line:before{content:"\ea74"}.ri-arrow-up-fill:before{content:"\ea75"}.ri-arrow-up-line:before{content:"\ea76"}.ri-arrow-up-s-fill:before{content:"\ea77"}.ri-arrow-up-s-line:before{content:"\ea78"}.ri-at-fill:before{content:"\ea82"}.ri-at-line:before{content:"\ea83"}.ri-close-circle-fill:before{content:"\eb96"}.ri-close-circle-line:before{content:"\eb97"}.ri-close-fill:before{content:"\eb98"}.ri-close-line:before{content:"\eb99"}.ri-device-fill:before{content:"\ec2d"}.ri-device-line:before{content:"\ec2e"}.ri-download-2-fill:before{content:"\ec53"}.ri-download-2-line:before{content:"\ec54"}.ri-download-fill:before{content:"\ec59"}.ri-download-line:before{content:"\ec5a"}.ri-english-input:before{content:"\ec9b"}.ri-file-2-fill:before{content:"\ecc2"}.ri-file-2-line:before{content:"\ecc3"}.ri-file-3-fill:before{content:"\ecc4"}.ri-file-3-line:before{content:"\ecc5"}.ri-file-4-fill:before{content:"\ecc6"}.ri-file-4-line:before{content:"\ecc7"}.ri-file-copy-2-fill:before{content:"\ecd2"}.ri-file-copy-2-line:before{content:"\ecd3"}.ri-file-copy-fill:before{content:"\ecd4"}.ri-file-copy-line:before{content:"\ecd5"}.ri-file-download-fill:before{content:"\ecd8"}.ri-file-download-line:before{content:"\ecd9"}.ri-file-fill:before{content:"\ece0"}.ri-file-gif-fill:before{content:"\ece3"}.ri-file-gif-line:before{content:"\ece4"}.ri-file-line:before{content:"\eceb"}.ri-file-list-2-fill:before{content:"\ecec"}.ri-file-list-2-line:before{content:"\eced"}.ri-file-list-3-fill:before{content:"\ecee"}.ri-file-list-3-line:before{content:"\ecef"}.ri-file-list-fill:before{content:"\ecf0"}.ri-file-list-line:before{content:"\ecf1"}.ri-file-reduce-fill:before{content:"\ed02"}.ri-file-reduce-line:before{content:"\ed03"}.ri-file-search-fill:before{content:"\ed04"}.ri-file-search-line:before{content:"\ed05"}.ri-file-settings-fill:before{content:"\ed06"}.ri-file-settings-line:before{content:"\ed07"}.ri-file-text-fill:before{content:"\ed0e"}.ri-file-text-line:before{content:"\ed0f"}.ri-file-upload-fill:before{content:"\ed14"}.ri-file-upload-line:before{content:"\ed15"}.ri-file-user-fill:before{content:"\ed16"}.ri-file-user-line:before{content:"\ed17"}.ri-font-size-2:before{content:"\ed8c"}.ri-font-size:before{content:"\ed8d"}.ri-google-fill:before{content:"\edd4"}.ri-google-line:before{content:"\edd5"}.ri-h-1:before{content:"\ede6"}.ri-h-2:before{content:"\ede7"}.ri-h-3:before{content:"\ede8"}.ri-h-4:before{content:"\ede9"}.ri-h-5:before{content:"\edea"}.ri-h-6:before{content:"\edeb"}.ri-html5-fill:before{content:"\ee40"}.ri-html5-line:before{content:"\ee41"}.ri-image-2-fill:before{content:"\ee44"}.ri-image-2-line:before{content:"\ee45"}.ri-image-fill:before{content:"\ee4a"}.ri-image-line:before{content:"\ee4b"}.ri-line-fill:before{content:"\eeac"}.ri-line-height:before{content:"\eead"}.ri-line-line:before{content:"\eeae"}.ri-link-m:before{content:"\eeaf"}.ri-link:before{content:"\eeb2"}.ri-list-settings-fill:before{content:"\eebc"}.ri-list-settings-line:before{content:"\eebd"}.ri-loader-2-fill:before{content:"\eec1"}.ri-loader-2-line:before{content:"\eec2"}.ri-loader-3-fill:before{content:"\eec3"}.ri-loader-3-line:before{content:"\eec4"}.ri-loader-4-fill:before{content:"\eec5"}.ri-loader-4-line:before{content:"\eec6"}.ri-loader-5-fill:before{content:"\eec7"}.ri-loader-5-line:before{content:"\eec8"}.ri-loader-fill:before{content:"\eec9"}.ri-loader-line:before{content:"\eeca"}.ri-menu-2-fill:before{content:"\ef31"}.ri-menu-2-line:before{content:"\ef32"}.ri-menu-3-fill:before{content:"\ef33"}.ri-menu-3-line:before{content:"\ef34"}.ri-menu-4-fill:before{content:"\ef35"}.ri-menu-4-line:before{content:"\ef36"}.ri-menu-5-fill:before{content:"\ef37"}.ri-menu-5-line:before{content:"\ef38"}.ri-menu-fill:before{content:"\ef3b"}.ri-menu-line:before{content:"\ef3e"}.ri-message-2-fill:before{content:"\ef43"}.ri-message-2-line:before{content:"\ef44"}.ri-message-3-fill:before{content:"\ef45"}.ri-message-3-line:before{content:"\ef46"}.ri-message-fill:before{content:"\ef47"}.ri-message-line:before{content:"\ef48"}.ri-more-2-fill:before{content:"\ef76"}.ri-more-2-line:before{content:"\ef77"}.ri-more-fill:before{content:"\ef78"}.ri-more-line:before{content:"\ef79"}.ri-pulse-fill:before{content:"\f034"}.ri-pulse-line:before{content:"\f035"}.ri-question-answer-fill:before{content:"\f042"}.ri-question-answer-line:before{content:"\f043"}.ri-question-fill:before{content:"\f044"}.ri-question-line:before{content:"\f045"}.ri-reserved-fill:before{content:"\f07b"}.ri-reserved-line:before{content:"\f07c"}.ri-save-2-fill:before{content:"\f0ae"}.ri-save-2-line:before{content:"\f0af"}.ri-save-3-fill:before{content:"\f0b0"}.ri-save-3-line:before{content:"\f0b1"}.ri-save-fill:before{content:"\f0b2"}.ri-save-line:before{content:"\f0b3"}.ri-search-2-fill:before{content:"\f0cc"}.ri-search-2-line:before{content:"\f0cd"}.ri-search-fill:before{content:"\f0d0"}.ri-search-line:before{content:"\f0d1"}.ri-settings-2-fill:before{content:"\f0e3"}.ri-settings-2-line:before{content:"\f0e4"}.ri-settings-3-fill:before{content:"\f0e5"}.ri-settings-3-line:before{content:"\f0e6"}.ri-settings-4-fill:before{content:"\f0e7"}.ri-settings-4-line:before{content:"\f0e8"}.ri-settings-5-fill:before{content:"\f0e9"}.ri-settings-5-line:before{content:"\f0ea"}.ri-settings-6-fill:before{content:"\f0eb"}.ri-settings-6-line:before{content:"\f0ec"}.ri-settings-fill:before{content:"\f0ed"}.ri-settings-line:before{content:"\f0ee"}.ri-text:before{content:"\f201"}.ri-time-fill:before{content:"\f20e"}.ri-time-line:before{content:"\f20f"}.ri-toggle-fill:before{content:"\f218"}.ri-toggle-line:before{content:"\f219"}.ri-upload-2-fill:before{content:"\f249"}.ri-upload-2-line:before{content:"\f24a"}.ri-upload-fill:before{content:"\f24f"}.ri-upload-line:before{content:"\f250"}.ri-user-2-fill:before{content:"\f253"}.ri-user-2-line:before{content:"\f254"}.ri-user-3-fill:before{content:"\f255"}.ri-user-3-line:before{content:"\f256"}.ri-user-4-fill:before{content:"\f257"}.ri-user-4-line:before{content:"\f258"}.ri-user-5-fill:before{content:"\f259"}.ri-user-5-line:before{content:"\f25a"}.ri-user-6-fill:before{content:"\f25b"}.ri-user-6-line:before{content:"\f25c"}.ri-user-fill:before{content:"\f25f"}.ri-user-follow-fill:before{content:"\f260"}.ri-user-follow-line:before{content:"\f261"}.ri-user-line:before{content:"\f264"}.ri-user-search-fill:before{content:"\f26b"}.ri-user-search-line:before{content:"\f26c"}.ri-user-settings-fill:before{content:"\f26d"}.ri-user-settings-line:before{content:"\f26e"}.ri-p2p-fill:before{content:"\f34d"}.ri-p2p-line:before{content:"\f34e"}@font-face {font-family: 'Montserrat';  font-weight: 400;  }h1{font-family: "Montserrat", sans-serif;}
    </style>



</head>
<body>
<header class="header">
    <nav class="nav-header container-header-nav">
        <div class="nav__data">
            <a href="/" class="nav__logo">
                Compress Image
            </a>

            <div class="nav__toggle" id="nav-toggle">
                <i class="ri-menu-line nav__burger"></i>
                <i class="ri-close-line nav__close"></i>
            </div>
        </div>

        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="dropdown__item">
                    <div class="nav__link">
                        Language <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                    </div>

                    <ul class="dropdown__menu">
                        <li>
                            <a href="/" class="dropdown__link"> <i></i> English </a>
                        </li>

                        <li>
                            <a href="/vi" class="dropdown__link"> <i></i> Vietnamese </a>
                        </li>
                        <li>
                            <a href="/id" class="dropdown__link"> <i></i> Bahasa Indonesia </a>
                        </li>
                        <li>
                            <a href="/ms" class="dropdown__link"> <i></i>Bahasa Melayu</a>
                        </li>
                        <li>
                            <a href="/ja" class="dropdown__link"> <i></i> 日本語 </a>
                        </li>
                        <li>
                            <a href="/ko" class="dropdown__link"> <i></i> 한국어 </a>
                        </li>
                        <li>
                            <a href="/pt" class="dropdown__link"> <i></i> Português </a>
                        </li>
                        <li>
                            <a href="/hi" class="dropdown__link"> <i></i> भारत गणराज्य </a>
                        </li>
                        <li>
                            <a href="/es" class="dropdown__link"> <i></i> Español </a>
                        </li>
                        <li>
                            <a href="/fr" class="dropdown__link"> <i></i> Français </a>
                        </li>
                        <li>
                            <a href="/ro" class="dropdown__link"> <i></i> Română </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
<main>
    <section>
        <div class="justify-content-center" style="margin-top: 40px">
            <div style="line-height: 1.5;">
                <h1 style="text-align: center"><%= __('title-body-top') %></h1>
                <p style="text-align: center;margin-left: 10px;margin-right: 10px"><%= __('content-body-top') %></p>
            </div>
        </div>
        <div class='content' id="error-message" style="display: none;margin-top: 10px">
            <section>
                <div class="container error-container">
                    <div style="width: 60%">

                        <div class="col-sm-12">
                            <div class="alert fade alert-simple alert-danger alert-dismissible text-left  font__size-16 font__weight-light brk-library-rendered rendered show"
                                 role="alert" data-brk-library="component__alert">
                                <button type="button" class="close font__size-18" data-dismiss="alert">
									<span aria-hidden="true">
										<i class="fa fa-times danger "></i>
									</span>
                                    <span class="sr-only">Close</span>
                                </button>
                                <i class="start-icon far fa-times-circle faa-pulse animated"></i>
                                <strong class="font__weight-semibold"><%= __('mes_error_1') %></strong><%= __('mes_error_2') %>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div style="display: flex;
    justify-content: center;">
            <form id="upload" enctype="multipart/form-data">
                <label for="file">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="" viewBox="0 0 24 24">
                            <g stroke-width="0" id="SVGRepo_bgCarrier"></g>
                            <g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g>
                            <g id="SVGRepo_iconCarrier">
                                <path fill=""
                                      d="M10 1C9.73478 1 9.48043 1.10536 9.29289 1.29289L3.29289 7.29289C3.10536 7.48043 3 7.73478 3 8V20C3 21.6569 4.34315 23 6 23H7C7.55228 23 8 22.5523 8 22C8 21.4477 7.55228 21 7 21H6C5.44772 21 5 20.5523 5 20V9H10C10.5523 9 11 8.55228 11 8V3H18C18.5523 3 19 3.44772 19 4V9C19 9.55228 19.4477 10 20 10C20.5523 10 21 9.55228 21 9V4C21 2.34315 19.6569 1 18 1H10ZM9 7H6.41421L9 4.41421V7ZM14 15.5C14 14.1193 15.1193 13 16.5 13C17.8807 13 19 14.1193 19 15.5V16V17H20C21.1046 17 22 17.8954 22 19C22 20.1046 21.1046 21 20 21H13C11.8954 21 11 20.1046 11 19C11 17.8954 11.8954 17 13 17H14V16V15.5ZM16.5 11C14.142 11 12.2076 12.8136 12.0156 15.122C10.2825 15.5606 9 17.1305 9 19C9 21.2091 10.7909 23 13 23H20C22.2091 23 24 21.2091 24 19C24 17.1305 22.7175 15.5606 20.9844 15.122C20.7924 12.8136 18.858 11 16.5 11Z"
                                      clip-rule="evenodd" fill-rule="evenodd"></path>
                            </g>
                        </svg>
                    </div>
                    <div class="text" style="margin-top: 20px">
                        <span style="text-align: center"><%= __('title-choose-file') %></span>
                        <input id="file" type="file" name="image" accept="image/*" required multiple>
                    </div>
                </label>
            </form>
        </div>
        <div style="display: flex;justify-content: center;align-items: center;margin-bottom: 30px">
            <div id="result-container-1">
                <div id="result-container"></div>
                <div id="load" class="loader"></div>
            </div>

        </div>
    </section>
    <section class="container-content">
        <h2 class="fs-5 "><%= __('title-welcome') %></h2>
        <p>
            <%= __('content-welcome') %>
        </p>
        <ol style="margin-left: 30px">
            <li> <%= __('content-welcome-chill-1') %></li>
            <li>
                <%= __('content-welcome-chill-2') %>
            </li>
            <li> <%= __('content-welcome-chill-3') %></li>
        </ol>
    </section>
    <section id="benefits" class="container-content">
        <h2 class="fs-5 "> <%= __('content-body-title1') %></h2>
        <p>
            <%= __('content-description1') %>
        </p>
        <ul style="margin-left: 20px">
            <li>
                <strong> <%= __('content-description1-strong1') %></strong>
                <%= __('content-description1-chill-1') %>
            </li>
            <li>
                <strong> <%= __('content-description1-strong2') %></strong>
                <%= __('content-description1-chill-2') %>
            </li>
            <li>
                <strong> <%= __('content-description1-strong3') %></strong>
                <%= __('content-description1-chill-3') %>
            </li>
            <li>
                <strong> <%= __('content-description1-strong4') %></strong>
                <%= __('content-description1-chill-4') %>
            </li>
        </ul>
    </section>
    <section class="mt-10 container-content" id="supported-formats">
        <h2 class="fs-5 "> <%= __('content-body-title2') %></h2>
        <p>
            <%= __('content-description2') %>
        </p>
        <ul style="margin-left: 20px">
            <li>
                <strong><%= __('content-description2-strong1') %></strong>
                <%= __('content-description2-chill-1') %>
            </li>
            <li>
                <strong><%= __('content-description2-strong2') %></strong>
                <%= __('content-description2-chill-2') %>
            </li>
            <li>
                <strong><%= __('content-description2-strong3') %></strong>
                <%= __('content-description2-chill-3') %>
            </li>
        </ul>
    </section>
    <section id="optimization-tips" class="mt-10 container-content">
        <h2 class="fs-5 "><%= __('content-body-title3') %></h2>
        <p>
            <%= __('content-description3') %>
        </p>
        <ul style="margin-left: 20px">
            <li>
                <strong><%= __('content-description3-strong1') %></strong>
                <%= __('content-description3-chill-1') %>

            </li>
            <li>
                <strong><%= __('content-description3-strong2') %></strong>
                <%= __('content-description3-chill-2') %>
            </li>
            <li>
                <strong><%= __('content-description3-strong3') %></strong>
                <%= __('content-description3-chill-3') %>
            </li>
            <li>
                <strong><%= __('content-description3-strong4') %></strong>
                <%= __('content-description3-chill-4') %>
            </li>
        </ul>
    </section>
    <section class="container-content">
        <h2 class="text-justify fs-5 "><%= __('title-welcome-faqs') %></h2>
        <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="mlr  ">
            <div class="center-box-faq">
                <button itemprop="name" class="accordion"><%= __('name-faqs1') %><i
                            class="fas fa-chevron-down"></i>
                </button>
                <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" class="panel">
                    <ul>
                        <li>
                            <p class="line-height" itemprop="text"><%= __('text-faqs1') %></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="mlr">
            <div class="center-box-faq">
                <button itemprop="name" class="accordion"><%= __('name-faqs2') %><i
                            class="fas fa-chevron-down"></i>
                </button>
                <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" class="panel">
                    <ul>
                        <li>
                            <p class="line-height" itemprop="text"><%= __('text-faqs2.1') %></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="mlr  ">
            <div class="center-box-faq">
                <button itemprop="name" class="accordion"><%= __('name-faqs3') %><i
                            class="fas fa-chevron-down"></i>
                </button>
                <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" class="panel">
                    <ul>
                        <li>
                            <p class="line-height" itemprop="text"><%= __('text-faqs3') %></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="mlr   ">
            <div class="center-box-faq">
                <button itemprop="name" class="accordion"><%= __('name-faqs4') %><i
                            class="fas fa-chevron-down"></i>
                </button>
                <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" class="panel">
                    <ul>
                        <li>
                            <p class="line-height" itemprop="text"><%= __('text-faqs4') %></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="mlr   ">
            <div class="center-box-faq">
                <button itemprop="name" class="accordion"><%= __('name-faqs5') %><i
                            class="fas fa-chevron-down"></i>
                </button>
                <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" class="panel">
                    <ul>
                        <li>
                            <p class="line-height" itemprop="text"><%= __('text-faqs5') %>></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="mlr   ">
            <div class="center-box-faq">
                <button itemprop="name" class="accordion"><%= __('name-faqs6') %><i
                            class="fas fa-chevron-down"></i>
                </button>
                <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" class="panel">
                    <ul>
                        <li>
                            <p class="line-height" itemprop="text"><%= __('text-faqs6') %></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="mlr   ">
            <div class="center-box-faq">
                <button itemprop="name" class="accordion"><%= __('name-faqs7') %><i
                            class="fas fa-chevron-down"></i>
                </button>
                <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" class="panel">
                    <ul>
                        <li>
                            <p class="line-height" itemprop="text"><%= __('text-faqs7') %></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="mlr   ">
            <div class="center-box-faq">
                <button itemprop="name" class="accordion"><%= __('name-faqs8') %><i
                            class="fas fa-chevron-down"></i>
                </button>
                <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" class="panel">
                    <ul>
                        <li>
                            <p class="line-height" itemprop="text"><%= __('text-faqs8') %></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="mlr   ">
            <div class="center-box-faq">
                <button itemprop="name" class="accordion"><%= __('name-faqs9') %><i
                            class="fas fa-chevron-down"></i>
                </button>
                <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" class="panel">
                    <ul>
                        <li>
                            <p class="line-height" itemprop="text"><%= __('text-faqs9') %></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="mlr ">
            <div class="center-box-faq">
                <button itemprop="name" class="accordion"><%= __('name-faqs10') %><i
                            class="fas fa-chevron-down"></i>
                </button>
                <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" class="panel">
                    <ul>
                        <li>
                            <p class="line-height" itemprop="text"><%= __('text-faqs10') %></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>
<footer style="margin-top: 20px">
    <div class="footer-content">
        <p>Designed by <a href="/">NTC</a></p>
        <p>&copy; 2024 - All rights reserved</p>
    </div>
</footer>
<script type="text/javascript" defer>
    const link = document.querySelector(`link[rel="canonical"]`);
    const domain = window.location.href;
    const lang = `<%= __("lang") %>`;
    if (lang === "en") {
        link.href = domain
    } else {
        link.href = `${domain}`
    }
</script>
<script type="text/javascript" defer>
    let filesSelected=!1;function formatFileSize(e){return e<1024?e+" Bytes":e<1048576?(e/1024).toFixed(1)+" KB":(e/1048576).toFixed(1)+" MB"}document.getElementById("upload").addEventListener("change",(async function(e){let t=new FormData,l=document.getElementById("file").files,n=document.getElementById("result-container-1"),s=document.getElementById("load");s.style.display="block",n.style.opacity=.5;let o=document.getElementById("error-message");if(o.style.display="none",n.style.display="none",l){for(let e=0;e<l.length;e++)if(l[e].size>1048576||l.length>1)return o.style.display="block",setTimeout((function(){o.style.display="none"}),4e3),s.style.display="none",void(filesSelected=!1);o.style.display="none",filesSelected=l.length>0}n.style.display=filesSelected?"flex":"none";for(let e=0;e<l.length;e++)t.append("image",l[e]);try{if(0!==l.length){let e=(await(await fetch("upload",{method:"POST",body:t})).json()).compressedImages.map((e=>`\n                 <div style="" class="custom-details">\n                     <div class="" style="display: flex; flex-wrap: wrap">\n                         <p class="customP"><b>Name:</b> ${e.name}</p>\n                         <p class="customP" style="color: red"><b style="color: black">Size(Befor): </b>${formatFileSize(e.originalSize)}</p>\n                     </div>\n                     <div class=""style="display: flex;flex-wrap: wrap">\n                         <p class="customP" style="color: #7eb631"><b style="color: black">Size(After): </b>${formatFileSize(e.compSize)}</p>\n                         <a class="a-download" href="data:image/${e.format};base64,${e.buffer}" download="compress_${e.name}">Download</a>\n                     </div>\n                 </div>\n             `));document.getElementById("result-container").innerHTML=e.join("")}}catch(e){console.error("Error:",e)}finally{s.style.display="none",n.style.opacity=1}}));const acc=document.getElementsByClassName("accordion");let i;for(i=0;i<acc.length;i++)acc[i].addEventListener("click",(function(){this.classList.toggle("active");let e=this.nextElementSibling;e.style.maxHeight?e.style.maxHeight=null:e.style.maxHeight=e.scrollHeight+"px"}));const showMenu=(e,t)=>{let l=document.getElementById(e),n=document.getElementById(t);l.addEventListener("click",(()=>{n.classList.toggle("show-menu"),l.classList.toggle("show-icon")}))};showMenu("nav-toggle","nav-menu");
</script>
<script type="application/ld+json" defer>
    {
        "@context": "https://schema.org",
        "@type": "FAQPage",
        "mainEntity": [
            {
                "@type": "Question",
                "name": "<%= __('name-faqs1') %>",
                    "acceptedAnswer": {
                        "@type": "Answer",
                        "text": "<%= __('text-faqs1') %>"
                    }
                },
                {
                    "@type": "Question",
                    "name": "<%= __('name-faqs2') %>",
                    "acceptedAnswer": {
                        "@type": "Answer",
                        "text": "<%= __('text-faqs2.1') %>"
                    }
                },
                {
                    "@type": "Question",
                    "name": "<%= __('name-faqs3') %>",
                    "acceptedAnswer": {
                        "@type": "Answer",
                        "text": "<%= __('text-faqs3') %>"
                    }
                },
                {
                    "@type": "Question",
                    "name": "<%= __('name-faqs4') %>",
                    "acceptedAnswer": {
                        "@type": "Answer",
                        "text": "<%= __('text-faqs4') %>"
                    }
                },
                {
                    "@type": "Question",
                    "name": "<%= __('name-faqs5') %>",
                    "acceptedAnswer": {
                        "@type": "Answer",
                        "text": "<%= __('text-faqs5') %>"
                    }
                },
                {
                    "@type": "Question",
                    "name": "<%= __('name-faqs6') %>",
                    "acceptedAnswer": {
                        "@type": "Answer",
                        "text": "<%= __('text-faqs6') %>"
                    }
                },
                {
                    "@type": "Question",
                    "name": "<%= __('name-faqs7') %>",
                    "acceptedAnswer": {
                        "@type": "Answer",
                        "text": "<%= __('text-faqs7') %>"
                    }
                },
                {
                    "@type": "Question",
                    "name": "<%= __('name-faqs8') %>",
                    "acceptedAnswer": {
                        "@type": "Answer",
                        "text": "<%= __('text-faqs8') %>"
                    }
                },
                {
                    "@type": "Question",
                    "name": "<%= __('name-faqs9') %>",
                    "acceptedAnswer": {
                        "@type": "Answer",
                        "text": "<%= __('text-faqs9') %>"
                    }
                },
                {
                    "@type": "Question",
                    "name": "<%= __('name-faqs10') %>",
                    "acceptedAnswer": {
                        "@type": "Answer",
                        "text": "<%= __('text-faqs10') %>"
                    }
                }

            ]
        }
</script>
</body>
</html>
