<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
<head>
    <title><%= __('title') %></title>
    <meta name="description" content="<%= __('description') %>">
    <meta itemprop="image" content="">

    <!--Thẻ meta quy dịnh nội dung hiển thị preview ở mạng xã hôi twitter-->
    <meta name="twitter:card" content="<%= __('twitter_card_sumary') %>">
    <meta name="twitter:title" content="<%= __('twitter_title') %>">
    <meta name="twitter:description" content="<%= __('twitter_description') %>">
    <meta name="twitter:image:src" content="https://imagecompression.app/assets/img/snapthumb.jpg">
    <meta name="twitter:site" content="image compression.app">

    <!--Thẻ meta quy dịnh nội dung hiển thị preview ở mạng xã hôi facebook-->
    <meta property="og:title" content="<%= __('og_title') %>">
    <meta property="og:type" content="article">
    <meta property="og:image" content="https://imagecompression.app/assets/img/snapthumb.jpg">
    <meta property="og:description" content="<%= __('og_description') %>">
    <meta property="og:site_name" content="imagecompression.App">

    <!-- Quy định icon cho thiết bị iphone-->
    <link rel="apple-touch-icon" sizes="192x192" href="https://imagecompression.app/img/icons-192.png">

    <!--  quy định icon hiển thị trên tab của trình duyệt -->
    <!--    <link rel="shortcut icon" href="https://imagecompression.app/assets/img/favicon.png"/>-->
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>

    <!--  báo hiệu google không dịch nội dung website  -->
    <meta name="google" content="notranslate"/>

    <!--  liệt kê các phiên bản ngôn ngữ khác mà website hỗ trợ -->
    <link rel="alternate" hreflang="x-default" href="https://imagecompression.app/"/>
    <link rel="alternate" hreflang="en" href="https://imagecompression.app/"/>
    <link rel="alternate" hreflang="en-in" href="https://imagecompression.app/in">
    <link rel="alternate" hreflang="vi" href="https://imagecompression.app/vn"/>
    <link rel="alternate" hreflang="tr" href="https://imagecompression.app/tr"/>
    <link rel="alternate" hreflang="id-ID" href="https://imagecompression.app/ID"/>
    <link rel="alternate" hreflang="fr" href="https://imagecompression.app/fr"/>
    <link rel="alternate" hreflang="pt" href="https://imagecompression.app/pt"/>
    <link rel="alternate" hreflang="ru" href="https://imagecompression.app/ru"/>
    <link rel="alternate" hreflang="es" href="https://imagecompression.app/es"/>
    <link rel="alternate" hreflang="ms" href="https://imagecompression.app/ms"/>
    <link rel="alternate" hreflang="ko" href="https://imagecompression.app/ko"/>
    <link rel="alternate" hreflang="ja" href="https://imagecompression.app/ja"/>
    <link rel="alternate" hreflang="jv" href="https://imagecompression.app/jv"/>
    <link rel="alternate" hreflang="cs" href="https://imagecompression.app/cs"/>
    <link rel="alternate" hreflang="de" href="https://imagecompression.app/de"/>
    <link rel="alternate" hreflang="it" href="https://imagecompression.app/it"/>
    <link rel="alternate" hreflang="pl" href="https://imagecompression.app/pl"/>
    <link rel="alternate" hreflang="hu" href="https://imagecompression.app/hu"/>
    <link rel="alternate" hreflang="nl" href="https://imagecompression.app/nl"/>
    <link rel="alternate" hreflang="ro" href="https://imagecompression.app/ro"/>
    <link rel="alternate" hreflang="el" href="https://imagecompression.app/el"/>

    <!--END Config    -->

    <!-- nội dung gốc là trang đang được hiển thị  -->
    <link rel="canonical" href="https://imagecompression.app/"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Web MMO Default</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #upload {
        height: 200px;
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        border: 2px dashed #e8e8e8;
        background-color: #ffff;
        padding: 1.5rem;
        border-radius: 10px;
        box-shadow: 0 48px 35px -48px #e8e8e8;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #upload .icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #upload .icon svg {
        height: 80px;
        fill: rgba(75, 85, 99, 1);
    }

    #upload .text {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #upload .text span {
        font-weight: 400;
        color: rgba(75, 85, 99, 1);
    }

    #upload input {
        display: none;
    }

    body {
        margin: 0;
        font-family: Arial
    }

    .topnav {
        overflow: hidden;
        background-color: #333;
        display: flex;
        justify-content: space-between
    }

    .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    .activeNav {
        color: white;
        margin-left: 60px;

    }

    .topnav .icon {
        display: none;
    }

    .dropdownDiv {
        float: left;
        overflow: hidden;
        margin-right: 60px;
    }

    .dropdownDiv .dropbtn {
        font-size: 17px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    .topnav a:hover, .dropdownDiv:hover .dropbtn {
        background-color: #555;
        color: white;
    }

    .dropdown-content a:hover {
        background-color: #ddd;
        color: black;
    }

    .dropdownDiv:hover .dropdown-content {
        display: block;
    }

    .customP {
        text-overflow: ellipsis;
        overflow: hidden;
        width: 150px;
        white-space: nowrap;
        margin-bottom: 0;
        font-size: 14px
    }

    .a-download {
        font-size: 15px

    }

    .custom-details {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    @media screen and (max-width: 540px) {
        .custom-details {
            display: block;
        }
    }

    @media screen and (max-width: 600px) {
        .topnav a:not(:first-child), .dropdownDiv .dropbtn {
            display: none;
        }

        .topnav a.icon {
            float: right;
            display: block;
        }

        .topnav {
            display: block;
            line-height: 40px;
        }

        .dropdownDiv {
            margin-right: 0;
        }

        .activeNav {
            margin-left: 0;
        }

        .customP {
            font-size: 13px;
        }

        .a-download {
            font-size: 13px
        }

    }

    @media screen and (max-width: 600px) {
        .topnav.responsive {
            position: relative;
        }

        .topnav.responsive .icon {
            position: absolute;
            right: 0;
            top: 0;
        }

        .topnav.responsive a {
            float: none;
            display: block;
            text-align: left;
        }

        .topnav.responsive .dropdownDiv {
            float: none;
        }

        .topnav.responsive .dropdown-content {
            position: relative;
        }

        .topnav.responsive .dropdownDiv .dropbtn {
            display: block;
            width: 100%;
            text-align: left;
        }
    }

    #result-container-1 {
        width: 60%;
        min-height: 80px;
        display: none;
        flex-direction: column;
        gap: 20px;
        cursor: pointer;
        /*align-items: center;*/
        justify-content: center;
        border: 2px dashed #e8e8e8;
        background-color: #ffff;
        padding: 1.5rem;
        border-radius: 10px;
        box-shadow: 0 48px 35px -48px #e8e8e8;
        margin-top: 20px;
    }

    #result-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    footer {
        background-color: #333;
        color: #fff;
        padding: 15px 0;
        text-align: center;
        width: 100%;
        bottom: 0;
    }

    .footer-content {
        max-width: 1200px;
        margin: 0 auto;
    }

    .footer-content p {
        margin: 5px 0;
    }

    .footer-content a {
        color: #fff;
        text-decoration: none;
    }

    .loader {
        position: relative;
        width: 2.5em;
        height: 2.5em;
        transform: rotate(165deg);
    }

    .loader:before, .loader:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 0.5em;
        height: 0.5em;
        border-radius: 0.25em;
        transform: translate(-50%, -50%);
    }

    .loader:before {
        animation: before8 2s infinite;
    }

    .loader:after {
        animation: after6 2s infinite;
    }

    @keyframes before8 {
        0% {
            width: 0.5em;
            box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
        }

        35% {
            width: 2.5em;
            box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75), 0 0.5em rgba(111, 202, 220, 0.75);
        }

        70% {
            width: 0.5em;
            box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75), 1em 0.5em rgba(111, 202, 220, 0.75);
        }

        100% {
            box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
        }
    }

    @keyframes after6 {
        0% {
            height: 0.5em;
            box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
        }

        35% {
            height: 2.5em;
            box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75), -0.5em 0 rgba(233, 169, 32, 0.75);
        }

        70% {
            height: 0.5em;
            box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75), -0.5em 1em rgba(233, 169, 32, 0.75);
        }

        100% {
            box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
        }
    }

    .loader {
        position: absolute;
        /*top: calc(50% - 1.25em);*/
        left: calc(50% - 1.25em);
    }

    .accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: background-color 0.4s;
        margin-top: 20px;
        border-radius: 10px;
        position: relative; /* Đặt vị trí tương đối để căn chỉnh biểu tượng */
    }

    .active, .accordion:hover {
        background-color: #ccc;
    }

    .panel {
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: white;
    }

    .panel p {
        margin-block-start: 1.3em;
        text-align: justify;
    }

    /* CSS cho biểu tượng */
    .accordion i {
        position: absolute;
        top: 50%;
        right: 18px;
        transform: translateY(-50%);
        transition: transform 0.4s; /* Hiệu ứng khi xoay biểu tượng */
    }

    /* Xoay biểu tượng khi accordion mở rộng */
    .accordion.active i {
        transform: translateY(-50%) rotate(-180deg);
    }

    .mlr {
        margin-left: 10px;
        margin-right: 10px;
    }


</style>

<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "FAQPage",
        "mainEntity": [
            {
                "@type": "Question",
                "name": "CompressImage là gì và tại sao nén ảnh lại quan trọng?",
                "acceptedAnswer": {
                    "@type": "Answer",
                    "description": "CompressImage là một dịch vụ trực tuyến hoặc một công cụ phần mềm giúp nén ảnh để giảm dung lượng của chúng mà vẫn giữ được chất lượng hình ảnh. Quá trình nén ảnh quan trọng vì nó giúp tăng tốc độ tải trang web, giảm băng thông mạng, và tăng trải nghiệm người dùng bằng cách làm cho trang web tải nhanh hơn và hiệu quả hơn."
                }
            },
            {
                "@type": "Question",
                "name": "Làm thế nào để tôi có thể nén ảnh từ CompressImage?",
                "acceptedAnswer": {
                    "@type": "Answer",
                    "description": "Mở trình duyệt web và nhập địa chỉ trang web của CompressImage.id.vn vào thanh tìm kiếm.Nhấp vào nút Tải ảnh lên hoặc kéo và thả tập tin ảnh của bạn từ máy tính vào trang web.Sau khi tải ảnh lên, bạn sẽ thấy các tùy chọn cấu hình nén. Chọn định dạng ảnh (JPEG, PNG, GIF, vv.) và điều chỉnh mức độ nén nếu cần thiết.CompressImage sẽ xử lý ảnh của bạn và tạo ra phiên bản đã nén với dung lượng thấp nhưng vẫn giữ được chất lượng.Sau khi quá trình nén hoàn tất, bạn sẽ nhận được tùy chọn để tải về ảnh đã nén. Nhấp vào nút Tải về để lưu tập tin nén xuống máy tính của bạn.Mở ảnh đã nén để kiểm tra chất lượng và dung lượng. Đảm bảo rằng ảnh vẫn giữ được chất lượng mong muốn trong khi dung lượng đã được giảm đi"
                }
            },
            {
                "@type": "Question",
                "name": "Làm thế nào để nén ảnh một cách hiệu quả với CompressImage?",
                "acceptedAnswer": {
                    "@type": "Answer",
                    "description": "Để nén ảnh một cách hiệu quả với CompressImage, bạn cần chọn các cài đặt nén phù hợp, bao gồm chọn định dạng nén (JPEG, PNG, GIF, etc.), mức độ nén (đặc trưng bằng tỉ lệ phần trăm hoặc cấu hình cụ thể), và kiểm soát các yếu tố khác như kích thước ảnh."
                }
            },
            {
                "@type": "Question",
                "name": "CompressImage có cung cấp các công cụ nén ảnh nào?",
                "acceptedAnswer": {
                    "@type": "Answer",
                    "description": "CompressImage cung cấp một loạt các công cụ nén ảnh như TinyPNG, JPEG Optimizer, ImageOptim, và nhiều công cụ khác nữa, mỗi công cụ có những ưu điểm và hạn chế riêng"
                }
            },
            {
                "@type": "Question",
                "name": "Tôi có thể nén ảnh trực tuyến bằng CompressImage không?",
                "acceptedAnswer": {
                    "@type": "Answer",
                    "description": "Được, CompressImage thường cung cấp dịch vụ nén ảnh trực tuyến thông qua trang web của họ, cho phép bạn tải lên và nén ảnh một cách nhanh chóng và thuận tiện từ bất kỳ thiết bị nào có kết nối internet."
                }
            },
            {
                "@type": "Question",
                "name": "CompressImage có thể giúp giảm dung lượng ảnh mà không làm mất chất lượng không?",
                "acceptedAnswer": {
                    "@type": "Answer",
                    "description": "Có, CompressImage sử dụng các thuật toán nén tiên tiến để giảm dung lượng của ảnh mà vẫn giữ được chất lượng hình ảnh gốc. Tuy nhiên, việc giảm dung lượng đôi khi có thể ảnh hưởng đến chất lượng hình ảnh, đặc biệt là khi áp dụng mức độ nén cao."
                }
            },
            {
                "@type": "Question",
                "name": "Làm thế nào để chọn cấu hình nén phù hợp khi sử dụng CompressImage?",
                "acceptedAnswer": {
                    "@type": "Answer",
                    "description": "Khi sử dụng CompressImage, bạn cần xem xét nhu cầu của mình và chọn cấu hình nén phù hợp. Điều này bao gồm việc xác định mức độ nén, định dạng đầu ra, và các tùy chọn khác như giữ nguyên thông số kích thước hay giảm kích thước ảnh."
                }
            },
            {
                "@type": "Question",
                "name": "CompressImage hỗ trợ các định dạng ảnh nào?",
                "acceptedAnswer": {
                    "@type": "Answer",
                    "description": "CompressImage thường hỗ trợ nén các định dạng ảnh phổ biến như JPEG, PNG, GIF, SVG, và nhiều định dạng khác nữa."
                }
            },
            {
                "@type": "Question",
                "name": "Tôi có thể sử dụng CompressImage miễn phí không?",
                "acceptedAnswer": {
                    "@type": "Answer",
                    "description": "CompressImage thường cung cấp phiên bản miễn phí với một số hạn chế về dung lượng nén hoặc chất lượng hình ảnh. Bạn cũng có thể nâng cấp lên các gói dịch vụ trả phí để có thêm tính năng và sự linh hoạt hơn."
                }
            },
            {
                "@type": "Question",
                "name": "Làm thế nào để đảm bảo rằng ảnh của tôi vẫn đảm bảo chất lượng sau khi được nén bằng CompressImage?",
                "acceptedAnswer": {
                    "@type": "Answer",
                    "description": "Để đảm bảo rằng ảnh của bạn vẫn giữ chất lượng sau khi được nén bằng CompressImage, bạn cần kiểm tra kết quả nén và điều chỉnh cài đặt nén nếu cần thiết. Bạn cũng có thể so sánh trực quan giữa ảnh gốc và ảnh đã nén để đảm bảo rằng không có sự mất mát đáng kể về chất lượng."
                }
            }
        ]
    }
</script>


<body>

<!--Nav-->
<div class="topnav" id="myTopnav">
    <a href="/" class="activeNav fw-semibold fs-4 ">JumbleCS</a>
    <div class="dropdownDiv">
        <button class="dropbtn fw-semibold h-100">LANGUAGE
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/en">English</a>
            <a href="/vi">Vietnamese</a>
            <a href="/id">Bahasa Indonesia</a>
            <a href="/my">Bahasa Melayu</a>
            <a href="/ja">日本語 </a>
            <a href="/ko">한국어 </a>
            <a href="/pt">Português</a>
            <a href="/iw">भारत गणराज्य </a>
            <a href="/es">Español</a>
            <a href="/fr">Français</a>
            <a href="/ro">Română</a>
        </div>
    </div>
    <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
</div>

<div class="justify-content-center mt-5 d-flex">
    <div>
        <h1 style="text-align: center" class="fw-semibold"><%= __('title') %></h1>
        <p style="text-align: justify;margin-left: 10px;margin-right: 10px"><%= __('content-body-top') %></p>
    </div>
</div>

<!--Form-->
<div style="display: flex;
    justify-content: center;">
    <form id="upload" enctype="multipart/form-data">
        <label for="file">
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" fill="" viewBox="0 0 24 24">
                    <g stroke-width="0" id="SVGRepo_bgCarrier"></g>
                    <g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g>
                    <g id="SVGRepo_iconCarrier">
                        <path fill=""
                              d="M10 1C9.73478 1 9.48043 1.10536 9.29289 1.29289L3.29289 7.29289C3.10536 7.48043 3 7.73478 3 8V20C3 21.6569 4.34315 23 6 23H7C7.55228 23 8 22.5523 8 22C8 21.4477 7.55228 21 7 21H6C5.44772 21 5 20.5523 5 20V9H10C10.5523 9 11 8.55228 11 8V3H18C18.5523 3 19 3.44772 19 4V9C19 9.55228 19.4477 10 20 10C20.5523 10 21 9.55228 21 9V4C21 2.34315 19.6569 1 18 1H10ZM9 7H6.41421L9 4.41421V7ZM14 15.5C14 14.1193 15.1193 13 16.5 13C17.8807 13 19 14.1193 19 15.5V16V17H20C21.1046 17 22 17.8954 22 19C22 20.1046 21.1046 21 20 21H13C11.8954 21 11 20.1046 11 19C11 17.8954 11.8954 17 13 17H14V16V15.5ZM16.5 11C14.142 11 12.2076 12.8136 12.0156 15.122C10.2825 15.5606 9 17.1305 9 19C9 21.2091 10.7909 23 13 23H20C22.2091 23 24 21.2091 24 19C24 17.1305 22.7175 15.5606 20.9844 15.122C20.7924 12.8136 18.858 11 16.5 11Z"
                              clip-rule="evenodd" fill-rule="evenodd"></path>
                    </g>
                </svg>
            </div>
            <div class="text" style="margin-top: 20px">
                <span><%= __('title-choose-file') %></span>
                <input id="file" type="file" name="image" accept="image/*" required multiple>
            </div>
        </label>
    </form>
</div>

<!--Result-->
<div style="display: flex;justify-content: center;align-items: center">
    <div id="result-container-1">
        <div id="result-container"></div>
        <div id="load" class="loader"></div>
    </div>

</div>


<!--Content-->
<div class="container-content mt-5 w-75 d-block" style="margin: 0 auto">
    <span class="fw-semibold fs-5"><%= __('title-welcome') %></span>
    <span><%= __('content-welcome') %></span>

    <div class="mt-4">
        <h5 class="fw-semibold"><%= __('content-body-title1') %></h5>
        <ul>
            <li><%= __('content-description1') %></li>
        </ul>
    </div>

    <div class="mt-3">
        <h5 class="fw-semibold"><%= __('content-body-title2') %></h5>
        <ul>
            <li><%= __('content-description2') %></li>
        </ul>
    </div>

    <div class="mt-3">
        <h5 class="fw-semibold"><%= __('content-body-title3') %></h5>
        <ul>
            <li><%= __('content-description3') %></li>
        </ul>
    </div>

    <div class="mt-3">
        <h5 class="fw-semibold"><%= __('content-body-title4') %></h5>
        <ul>
            <li><%= __('content-description4') %></li>
        </ul>
    </div>

    <div class="mt-3 mb-3">
        <h5 class="fw-semibold"><%= __('content-body-title5') %></h5>
        <ul>
            <li><%= __('content-description5') %></li>
            <li style="text-align: justify"><%= __('content-description5.2') %></li>
        </ul>
    </div>

</div>

<!--FAQs-->
<div class="container-faq w-75 d-block m-auto mb-5">
    <h5 class="fw-semibold" style="text-align: justify"><%= __('title-welcome-faqs') %></h5>

    <!-- FAQs 1  -->
    <div itemscope itemtype="https://schema.org/FAQPage" class="mlr">
        <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <button itemprop="name" class="accordion"><%= __('name-faqs1') %><i
                        class="fas fa-chevron-down"></i>
            </button>
            <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" class="panel">
                <ul>
                    <li>
                        <p itemprop="description"><%= __('text-faqs1') %></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- FAQs 2  -->
    <div itemscope itemtype="https://schema.org/FAQPage" class="mlr">
        <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <button itemprop="name" class="accordion"><%= __('name-faqs2') %><i
                        class="fas fa-chevron-down"></i>
            </button>
            <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" class="panel">
                <ul>
                    <li>
                        <p itemprop="description"><%= __('text-faqs2.1') %></p>
                    </li>
                    <li>
                        <p itemprop="description"><%= __('text-faqs2.2') %></p>
                    </li>
                    <li>
                        <p itemprop="description"><%= __('text-faqs2.3') %></p>
                    </li>
                    <li>
                        <p itemprop="description"><%= __('text-faqs2.4') %></p>
                    </li>
                    <li>
                        <p itemprop="description"><%= __('text-faqs2.5') %></p>
                    </li>
                    <li>
                        <p itemprop="description"><%= __('text-faqs2.6') %></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <!-- FAQs 3  -->
    <div itemscope itemtype="https://schema.org/FAQPage" class="mlr">
        <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <button itemprop="name" class="accordion"><%= __('name-faqs3') %><i
                        class="fas fa-chevron-down"></i>
            </button>
            <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" class="panel">
                <ul>
                    <li>
                        <p itemprop="description"><%= __('text-faqs3') %></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- FAQs 4  -->
    <div itemscope itemtype="https://schema.org/FAQPage" class="mlr">
        <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <button itemprop="name" class="accordion"><%= __('name-faqs4') %><i
                        class="fas fa-chevron-down"></i>
            </button>
            <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" class="panel">
                <ul>
                    <li>
                        <p itemprop="description"><%= __('text-faqs4') %></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- FAQs 5  -->
    <div itemscope itemtype="https://schema.org/FAQPage" class="mlr">
        <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <button itemprop="name" class="accordion"><%= __('name-faqs5') %><i
                        class="fas fa-chevron-down"></i>
            </button>
            <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" class="panel">
                <ul>
                    <li>
                        <p itemprop="description"><%= __('text-faqs5') %>></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- FAQs 6  -->
    <div itemscope itemtype="https://schema.org/FAQPage" class="mlr">
        <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <button itemprop="name" class="accordion"><%= __('name-faqs6') %><i
                        class="fas fa-chevron-down"></i>
            </button>
            <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" class="panel">
                <ul>
                    <li>
                        <p itemprop="description"><%= __('text-faqs6') %></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- FAQs 7  -->
    <div itemscope itemtype="https://schema.org/FAQPage" class="mlr">
        <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <button itemprop="name" class="accordion"><%= __('name-faqs7') %><i
                        class="fas fa-chevron-down"></i>
            </button>
            <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" class="panel">
                <ul>
                    <li>
                        <p itemprop="description"><%= __('text-faqs7') %></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- FAQs 8  -->
    <div itemscope itemtype="https://schema.org/FAQPage" class="mlr">
        <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <button itemprop="name" class="accordion"><%= __('name-faqs8') %><i
                        class="fas fa-chevron-down"></i>
            </button>
            <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" class="panel">
                <ul>
                    <li>
                        <p itemprop="description"><%= __('text-faqs8') %></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- FAQs 9  -->
    <div itemscope itemtype="https://schema.org/FAQPage" class="mlr">
        <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <button itemprop="name" class="accordion"><%= __('name-faqs9') %><i
                        class="fas fa-chevron-down"></i>
            </button>
            <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" class="panel">
                <ul>
                    <li>
                        <p itemprop="description"><%= __('text-faqs9') %></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- FAQs 10  -->
    <div itemscope itemtype="https://schema.org/FAQPage" class="mlr">
        <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <button itemprop="name" class="accordion"><%= __('name-faqs10') %><i
                        class="fas fa-chevron-down"></i>
            </button>
            <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" class="panel">
                <ul>
                    <li>
                        <p itemprop="description"><%= __('text-faqs10') %></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>


<!--Footer-->
<footer>
    <div class="footer-content">
        <p>Designed by <a href="/">NTC</a></p>
        <p>&copy; 2024 - All rights reserved</p>
    </div>
</footer>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


<script>

    //Main function upload any file
    document.getElementById('upload').addEventListener('change', async function (event) {

        const formData = new FormData();
        const files = document.getElementById('file').files;
        const resultContainer = document.getElementById("result-container-1");
        const load = document.getElementById("load");
        const result = document.getElementById("result-container");
        load.style.display = 'block'
        result.style.opacity = 0.5

        files === undefined ? resultContainer.style.display = "none" : resultContainer.style.display = "flex"

        for (let i = 0; i < files.length; i++) {
            formData.append('image', files[i]);
        }

        try {
            const response = await fetch('/upload', {
                method: 'POST',
                body: formData
            })
            const data = await response.json();
            console.log(data)
            const downloadLinks = data.compressedImages.map(image => `
                <div style="" class="custom-details">
                    <div class="d-flex flex-wrap">
                        <p class="customP"><b>Name:</b> ${image.name}</p>
                        <p class="customP" style="color: red"><b style="color: black">Size(Befor): </b>${formatFileSize(image.originalSize)}</p>
                    </div>
                    <div class="d-flex flex-wrap">
                        <p class="customP" style="color: #7eb631"><b style="color: black">Size(After): </b>${formatFileSize(image.compSize)}</p>
                        <a class="a-download" href="data:image/${image.format};base64,${image.buffer}" download="compress_${image.name}">Download</a>
                    </div>
                </div>
            `);
            document.getElementById('result-container').innerHTML = downloadLinks.join('');
        } catch (error) {
            console.error('Error:', error);
        } finally {
            load.style.display = 'none'
            result.style.opacity = 1
        }
    });


    //Main function upload one file
    //     const formUpload = document.getElementById("upload");
    //     const file = document.getElementById("file").files[0];
    //     console.log(file);
    //
    //     formUpload.addEventListener("change", (e) => {
    //         const result = document.getElementById("result-container");
    //         const file = document.getElementById("file").files[0];
    //         file === undefined ? result.style.display = "none" : result.style.display = "flex";
    //
    //         console.log(file);
    //         console.log("Change: " + result);
    //
    //
    //         const sizeImage = formatFileSize(file.size);
    //         const nameImage = file.name;
    //
    //         const formData = new FormData();
    //         console.log(formData);
    //         const imageFile = document.getElementById("file").files[0];
    //         console.log(imageFile);
    //         formData.append('image', imageFile);
    //
    //
    //         fetch('/upload', {
    //             method: 'POST',
    //             body: formData
    //         })
    //             .then(response => {
    //                 if (!response.ok) {
    //                     throw new Error('Network response was not ok');
    //                 }
    //                 return response.blob();
    //             })
    //             .then(bold => {
    //                 const fileSizeAfter = formatFileSize(bold.size);
    //
    //                 result.innerHTML = `
    //                 <div id="imageDetail">
    //                     <span class="fw-semibold" >Name:</span>
    //                     <span class="ms-0" id="name-file">${nameImage}</span>
    //                     <span class="fw-semibold ms-3">Size:</span>
    //                     <span class="ms-0" style="color: #7eb631 " id="size-file">${sizeImage}</span>
    //                 </div>
    //
    //                 <div id="result">
    //                     <span class="fw-semibold ms-3">Size (After Compression):</span>
    //                     <span class="ms-0" style="color: #7eb631" id="size-after">${fileSizeAfter}</span>
    //                     <span class="ms-4" id="download">
    // <!--                         <a href="/" id="dow">Download</a>-->
    //                     </span>
    //                 </div>
    //                 `
    //                 const downloadLink = document.createElement("a");
    //                 downloadLink.href = URL.createObjectURL(bold);
    //                 downloadLink.download = `compress_${file.name}`
    //                 downloadLink.textContent = "Download"
    //                 document.getElementById("download").appendChild(downloadLink)
    //
    //
    //             })
    //             .catch(error => console.error('Error compressing image:', error));
    //
    //
    //     })

    function formatFileSize(bytes) {
        if (bytes < 1024) return bytes + ' Bytes';
        else if (bytes < 1048576) return (bytes / 1024).toFixed(1) + ' KB';
        else return (bytes / 1048576).toFixed(1) + ' MB';
    }


    //Config nav
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }

    //Sử lý UI FQAs
    const acc = document.getElementsByClassName("accordion");
    let i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            const panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }

</script>
</body>
</html>
